{{#layout-push direction='col' classNames='detail_card'}}
    <img  src="../images/cover_pic_2.jpeg" class="detail_card_icon" />
    {{#layout-push direction='col' mid=true classNames='detail_card_content'}}
        {{#layout-push direction='col' midt=true }}
            {{#layout-push direction='row' mid=true classNames='detail_card_content_line'}}
                <span class="tetail_card_title">休息区</span>
            {{/layout-push }}
        {{/layout-push }}
    {{/layout-push }}
{{/layout-push }}

{{yield}}