{{!-- {{yield}} --}}
{{#layout-push direction='col' classNames='detail_inner_content_line'}}
    {{#each data as |item|}}
        {{#layout-push direction="row"}}
            <span class="list-status"></span>
            <p>{{item}}</p>
        {{/layout-push}}
    {{/each}}
{{/layout-push}}