<ul class="nav">
    <li class="nav-item">
        {{#layout-push direction='row' classNames="nav-item-left"}}
            <img src="/images/logo@1x.png" alt="">
            <a class="brand-name" href="home">PRO科学空间</a>
        {{/layout-push}}
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            <div class="menu_mid" >
                <div class="menu_container">
                    <img src="/images/icon_notification@1x.png" alt="">
                    <img src="/images/icon_person@1x.png" alt="">
                    <img src="/images/icon_search@1x.png" alt="">
                </div>
            </div>
        </div>
    </li>
</ul>

{{yield}}
