<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active brand_name" href="home">品牌名称</a>
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            <div class="menu_mid" >
                <div class="menu_container">
                    <a class="nav-link icon search" href="#"></a>
                    <a class="nav-link icon notification" href="#"></a>
                </div>
            </div>
            <a class="nav-link active accounts" href="#">账号</a>
        </div>
    </li>
</ul>

{{yield}}
