{{#layout-push direction='col' classNames='yard_card'}}
        <img src={{iconImg}} class="yard_card_icon" />
    {{#layout-push direction='col' mid=true classNames='yard_card_content'}}
        {{#layout-push direction='col' midt=true }}
            {{#layout-push direction='row' classNames='yard_card_content_line'}}
                <span class="yard_card_title">{{yard.title}}</span>
            {{/layout-push }}
            {{#layout-push direction='row' classNames='yard_card_content_line'}}
                <span class="yard_card_text">{{yard.address}}</span>
            {{/layout-push }}
        {{/layout-push }}
    {{/layout-push }}

{{/layout-push }}

{{yield}}
