
.form-container-inline {

    .form-label {
        margin-right: 16px;
        min-width: 56px;
        line-height: 32px;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #172B4D;
    }
}