.bm-upload-form {

    div.bm-upload-container {
        position: relative;

        width: 200px;
        height: auto;

        img {
            position: absolute;

            top: 0;
            left: 0;
            width: 200px;
            height: 200px;
    
            border: 1px dashed #D2D4D9;
            border-radius: 4px;
        }

        input {
            position: absolute;

            top: 0;
            left: 0;
            width: 200px;
            height: 200px;

            opacity: 0;
        }
    }
}

.bm-upload-tag {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #172B4D;
    max-width: 200px;
    text-align: center;

    margin-top: 216px;
}