@import 'args';

@import 'class-card';

%class_content_basic {
	padding-left: 240px;
}

.class_content_top {
	@extend %class_content_basic;
	padding-top: 64px;

	// .class-not-open.bp-empty-state {
	// 	margin: 24px;
	// 	width: calc(100% - 48px);

	// 	height: calc(100vh - 112px);
	// }

	.bp-empty-state {
		margin: 24px;
		width: calc(100% - 48px);
		height: calc(100vh - 112px);
	}
}

.session-modal {
	.edit_title {
		font-family: PingFangSC-Medium;
		font-size: 14px;
		color: #172B4D;
	}

	.input_area.area-margin-bottom {
		margin-bottom: 24px;
	}

	.edit_title.area-margin-bottom {
		margin-bottom: 16px;
	}

	select {
		@extend %select-box-dropdown-default;
	}

	.error-border {
		select {
			border: 1px solid #DE350B;
		}
	}

}

.class_content {
	background: #fff;
	// padding: 20px 24px;
	height: calc(100vh - 112px);
	margin: 24px;

	p.class-content-title {
		font-family: PingFangSC-Medium;
		font-size: 24px;
		color: #172B4D;
	}

	.class_card_container {
		margin-top: 20px;
	}
}

.class-content-tab-bar {
	padding: 0px 24px;
}

.class-content-panel-scroller {
	background: #fff;
	// padding: 20px 24px;
	margin: 24px;
	position: relative;

	// border: 2px rgba(9, 30, 66, 0.08) solid;

	.class-content-panel {
		// position: absolute;
		// top: 0;
		// left: 0;
		width: 100%;
	}
}
