@import 'args';

@import 'class-card';

%class_content_basic {
    padding-left: 240px;
}

.class_content_top {
    @extend %class_content_basic;
    padding-top: 64px;

    .class-not-open {
        margin: 24px;
        height: calc(100vh - 112px);
    }
    .class-empty-state {
        height: calc(100vh - 212px);
        margin: 24px;
    }
}
.session-modal {
    .edit_title {
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #172B4D;
    }
    .input_area.area-margin-bottom {
        margin-bottom: 24px;
    }
    .edit_title.area-margin-bottom {
        margin-bottom: 16px;
    }
    select {
        @extend %select-box-dropdown-default;
    }
    .error-border {
        select {
            border: 1px solid #DE350B;
        }
    }

}

.class_content {
    background: #fff;
    padding: 20px 24px;
    height: 72px;
    margin: 24px 24px 0 24px;
    p.class-content-title {
        font-family: PingFangSC-Medium;
        font-size: 24px;
        color: #172B4D;
    }
    .class_add_btn {
        width: 100px;
        height: 32px;
        padding: 6px 12px;
        text-align: center;
        background: #80AEFF;
        border-radius: 100px;
        font-family: $font-nav-acc;
        font-size: 14px;
        color: #FFFFFF;
    }

    .class_card_container {
        margin-top: 20px;
    }
}

.class-content-tab-bar {
    padding: 0px 24px;
}

.class-content-panel-scroller {
    background: #fff;
    padding: 20px 24px;
    margin: 24px;
    position: relative;

    // border: 2px rgba(9, 30, 66, 0.08) solid;

    .class-content-panel {
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
    }
}
