@import 'args';

@import "course-card";

%course_content_basic {
    padding-left: 202px;
}

.course_content_top {
    @extend %yard_content_basic;
    padding-top: 50px;
}

.course_content {
    padding: 32px;

    .course_add_btn {
        background: #6E7CD4;
        border-radius: 100px;
        font-family: $font-nav-acc;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 2px;

        padding: 8px 24px;
    }

    .course_card_container {
        margin-top: 16px;
    }
}

.course_selection {
    padding-top: 64px;
    padding-left: 240px;

    .course_panel {
        margin: 24px;
        background: #FFFFFF;
        .course_head {
            height: 72px;

            .course_text {
                font-family: $font-nav-acc;
                font-size: 24px;
                color: #172B4D;

                margin-left: 24px;
            }

            .course_add_btn {
                padding: 6px 12px;
                height: 32px;
                border-radius: 16px;
                background: #80AEFF;

                font-family: $font-brand;
                font-size: 14px;
                color: #FFFFFF;

                margin-right: 24px;
            }
        }

        .course_warp_content {
            flex-wrap: wrap;

            padding: 24px 12px;
        }
    }
}

.alt_course_selection {
    padding-top: 64px;
    padding-left: 240px;

    .alt_href_link {
        font-family: PingFangSC-Medium;
        font-size: 12px;
        color: #6B778C;
        line-height: 16px;

        margin-left: 24px;
    }

    .alt_course_container {
        padding: 12px;
        width: 100%;
    
        .alt_course_panel {
            margin: 12px;
            background: #FFF;
            min-height: 64px;

            .alt_course_title {
                font-family: $font-nav-acc;
                font-size: 16px;
                color: #172B4D;

                margin-left: 24px;
            }

            .alt_course_btn {
                padding: 6px 26px;
                background: rgba(9,30,66,0.04);
                border-radius: 3px;

                font-family: $font-nav-acc;
                font-size: 14px;
                color: #42526E;
                text-align: center;

                margin-right: 24px;
            }
        }

        .alt_course_right_panel {
            width: 66%;

            .alt_course_detail_panel {
                margin: 24px;
                // width: 100%;
                min-height: 40px;

                border-bottom: 1px solid #00000020;

                .alt_right_panel_perperty_title {
                    font-family: PingFangSC-Medium;
                    font-size: 14px;
                    color: #172B4D;
                }

                .alt_right_panel_perperty_des {
                    font-family: PingFangSC-Regular;
                    font-size: 14px;
                    color: #172B4D;
                    text-align: left;

                    margin-top: 24px;
                    margin-bottom: 24px;
                }

                .alt_course_detail_tag {
                    width: 106px;
                    height: 32px;
                    line-height: 32px;

                    font-family: PingFangSC-Regular;
                    font-size: 14px;
                    color: #172B4D;
                    text-align: center;

                    background: #80AEFF55;
                    border-radius: 4px;

                    margin: 30px 8px;
                }
            }
        }

        .alt_course_left_panel {
            width: 33%;

            .alt_course_deltail_title {
                font-family: $font-nav-acc;
                font-size: 16px;
                color: #172B4D;

                margin-top: 24px;
            }

            .alt_course_detail_cat {
                font-family: $font-brand;
                font-size: 14px;
                color: #6B778C;
                text-align: left;

                margin-top: 16px;
                margin-bottom: 24px;
            }

            .alt_course_detail_line {
                width: 100%
            }

            .alt_course_detail_half {
                width: 50%
            }

            .alt_course_detail_perperty {
                font-family: $font-brand;
                font-size: 14px;
                color: #172B4D;
                text-align: left;

                margin-top: 24px;
            }

            .alt_course_detail_perperty_des {
                font-family: $font-brand;
                font-size: 11px;
                color: #6B778C;

                margin-bottom: 24px;
            }

            .alt_course_detail_split_line {
                opacity: 0.12;
                border: 1px solid #000000;
                height: 1px;
                width: 100%
            }

            .alt_course_detail_gallery {
                width: 248px;
            }
        }
    }
}

.alt_course_edit_btn_margin {
    margin-top: 24px;
    justify-content: flex-end;
}

.alt_course_section {
    padding-top: 64px;
    padding-left: 240px;

    .alt_course_panel {
        margin: 24px;
        background: #FFF;

        padding: 24px;

        .alt_course_title {
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #172B4D;
        }

        .alt_course_des {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #6B778C;
            text-align: left;
        }
    }
}

.alt-course-tag-img-adjust {
    margin-left: 20px;

    margin-top: 24px;
    margin-bottom: 24px;
}