@import 'args';

@import "course-card";

%course_content_basic {
    padding-left: 202px;
}

.course_content_top {
    @extend %yard_content_basic;
    padding-top: 50px;
}

.course_content {
    padding: 32px;

    .course_add_btn {
        background: #6E7CD4;
        border-radius: 100px;
        font-family: $font-nav-acc;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 2px;

        padding: 8px 24px;
    }

    .course_card_container {
        margin-top: 16px;
    }
}

.course_selection {
    padding-top: 64px;
    padding-left: 240px;

    .course_panel {
        margin: 24px;
        background: #FFFFFF;
        .course_head {
            height: 72px;

            .course_text {
                font-family: $font-nav-acc;
                font-size: 24px;
                color: #172B4D;

                margin-left: 24px;
            }

            .course_add_btn {
                padding: 6px 12px;
                height: 32px;
                border-radius: 16px;
                background: #80AEFF;

                font-family: $font-brand;
                font-size: 14px;
                color: #FFFFFF;

                margin-right: 24px;
            }
        }

        .course_warp_content {
            flex-wrap: wrap;

            padding: 24px 12px;
        }
    }
}
