@import 'args';

@import 'detail-card';

%detail_content_basic {
    padding-left: 202px;
}

.detail_content_top {
    @extend %detail_content_basic;
    padding-top: 50px;
}
span.list-title {
    min-width: 110px;
}
span.list-status {
    margin-left: 54px;
    margin-top: 6px;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    background: #9B9B9B;
    border-radius: 50%;
}
.change-class-pop-ups {
    width: 550px;
    height: 315px;
    background: #fff;
    .change-class-pop-ups-content {
        margin-left: 90px;
        padding-top: 126px;
        padding-bottom: 90px;
    }
    p {
        font-size: 14px;
        color: #485465;
        letter-spacing: 2px;
    }
    .edit-teacher-cancel {
        margin-top: 8px;
        margin-right: 30px;
        width: 110px;
        height: 34px;
        background: transparent;
        border: 1px solid #6E7CD4;
        border-radius: 4px;
        font-size: 14px;
        color: #6E7CD4;
        letter-spacing: 1.17px;
    }
    .edit-teacher-save {
        margin-top: 8px;
        margin-right: 30px;
        width: 110px;
        height: 34px;
        background: #6E7CD4;
        border: 1px solid #6E7CD4;
        border-radius: 4px;
        font-size: 14px;
        color: #fff;
        letter-spacing: 1.17px;
    }
}
.delete-calss-pop-ups {
    width: 550px;
    height: 315px;
    background: #fff;
    .pop-ups-head {
        margin-top: -16px;
        margin-left: -16px;
        margin-right: -16px;
        height: 50px;
        width: 550px;
        background: rgba(110,124,212,0.10);
        p {
            margin-left: 32px;
            font-size: 18px;
            color: #485465;
            letter-spacing: 2.57px;
            line-height: 50px;
        }
        .edit-teacher-cancel {
            margin-top: 8px;
            margin-right: 30px;
            width: 110px;
            height: 34px;
            background: transparent;
            border: 1px solid #6E7CD4;
            border-radius: 4px;
            font-size: 14px;
            color: #6E7CD4;
            letter-spacing: 1.17px;
        }
        .edit-teacher-save {
            margin-top: 8px;
            margin-right: 30px;
            width: 110px;
            height: 34px;
            background: #6E7CD4;
            border: 1px solid #6E7CD4;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            letter-spacing: 1.17px;
        }
    }
    .pop-ups-content {
        padding-top: 64px;
        padding-left: 40px;
        p {
            margin-bottom: 35px;
            margin-right: 17px;
            font-size: 14px;
            color: #485465;
            letter-spacing: 2px;
        }
        input {
            margin-left: 20px;
            width: 380px;
            height: 35px;
            border: 1px solid #979797;
            border-radius: 3px;
        }
    }
}
.edit-teacher-pop-ups {
    margin-left: -215px;
    width: 930px;
    height: 582px;
    background: #fff;
    .pop-ups-head {
        margin-top: -16px;
        margin-left: -16px;
        margin-right: -16px;
        width: 930px;
        height: 50px;
        background: rgba(110,124,212,0.10);
        p.pop-ups-head-title {
            font-size: 18px;
            color: #767A80;
            letter-spacing: 2.37px;
            line-height: 50px;
            margin-left: 43px;
        }
        .edit-teacher-cancel {
            margin-top: 8px;
            margin-right: 30px;
            width: 110px;
            height: 34px;
            background: transparent;
            border: 1px solid #6E7CD4;
            border-radius: 4px;
            font-size: 14px;
            color: #6E7CD4;
            letter-spacing: 1.17px;
        }
        .edit-teacher-save {
            margin-top: 8px;
            margin-right: 30px;
            width: 110px;
            height: 34px;
            background: #6E7CD4;
            border: 1px solid #6E7CD4;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            letter-spacing: 1.17px;
        }
    }
    .edit-teacher-list {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}
.detail_page {
    padding: 16px 24px;
    .time-select {
        p {
            cursor:pointer;
        }
        p.active {
            color: #414141;
        }
    }
    span.apply-status-open {
        max-width: 45px;
        height: 23px;
        border-radius: 4px;
        font-size: 14px;
        color: #90B967;
        letter-spacing: 2px;
    }
    span.apply-status-close {
        max-width: 45px;
        height: 23px;
        border-radius: 4px;
        font-size: 14px;
        color: #9B9B9B;
        letter-spacing: 2px;
    }
}

.detail_href_ref {
    font-family: $font-href;
    font-size: 14px;
    color: #6E7CD4;
    letter-spacing: 2px;
}

%detail_panel_basic {
    background-color: white;
    // box-shadow: 2px 2px 6px 0 #CAD5E1;
    box-shadow: 0 2px 10px 0 #CAD5E1;
}

.detail_panel_col_between {
    margin-top: 8px;
}

.detail_panel {
    @extend %detail_panel_basic;
    padding: 20px 28px;
    .add-student {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .add-student-btn {
            width: 110px;
            height: 35px;
            background: #6E7CD4;
            border: 1px solid #6E7CD4;
            border-radius: 3px;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 2px;
        }
    }
    .detail_panel_img {
        width: 82px;
        height: 82px;

        border: 1px solid black;
        border-radius: 41px;
    }

    .detail_panel_img_right_margin {
        margin-right: 70px;
    }

    .detail_panel_role_name {
        font-family: $font-href;
        font-size: 18px;
        color: #767A80;
        letter-spacing: 2px;
    }

    .detail_panel_role_des {
        margin-right: 21px;
        font-family: $font-href;
        font-size: 12px;
        color: #6E7CD4;
        letter-spacing: 1.71px;
    }

    .detail_panel_head {
        font-family: $font-brand;
        font-size: 14px;
        color: #AAAAAA;
        letter-spacing: 2px;
    }

    .detail_panel_title {
        font-family: $font-brand;
        font-size: 16px;
        color: #767A80;
        letter-spacing: 2.29px;
    }

    .detail_panel_des_container_between {
        margin-top: 32px;
    }

    .detail_panel_des_info_between {
        margin-top: 44px;
    }

    .detail_panel_edit_btn {
        font-family: $font-brand;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 2px;

        background: #6E7CD4;
        border: 1px solid #6E7CD4;
        border-radius: 4px;

        padding: 8px 24px;
    }

    .detail_panel_des_container {
        width: 70%;

        .detail_panel_subtitle {
            font-family: $font-brand;
            font-size: 14px;
            color: #767A80;
            letter-spacing: 2px;
        }

        .detail_panel_des_01 {
            font-family: $font-brand;
            font-size: 14px;
            color: #B6B6B6;
            letter-spacing: 2px;

            min-width: 70px;
            margin-right: 30px;
        }

        .detail_panel_des_underline {
            border-bottom: 1px solid #EEEEEE;
        }

        .detail_panel_des_between {
            margin-right: 90px;
        }

        .detail_panel_des_02 {
            font-family: $font-brand;
            font-size: 14px;
            color: #767A80;
            letter-spacing: 2px;
        }
    }

    .detail_inner_panel {

        background: #eff1f9;
        border-radius: 4px;

        padding: 16px;

        font-family: $font-light;
        font-size: 12px;
        color: #767A80;
        letter-spacing: 1.71px;

        .detail_inner_content_line {
            margin-bottom: 8px;

            .detail_inner_left {

            }

            .detail_inner_list {
                margin: 5px 0;
                span.detail_inner_list_btn {
                    width: 10px;
                    height: 10px;
                    background: red;
                    border-radius: 50%;
                }
            }
            .detail_inner_content {
                margin: 10px 0;
            }
        }
    }

    .detail_panel_ls_heading {
        font-family: $font-href;
        font-size: 20px;
        color: #767A80;
        letter-spacing: 2.86px;
    }

    .detail_panel_ls_subheading {
        font-family: $font-href;
        font-size: 14px;
        color: #767A80;
        letter-spacing: 2px;

        margin-top: 6px;
    }
    .class-head-card {
        margin:12px 4px;
        height: 160px;
        .left-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 460px;
            p.headline {
                font-size: 24px;
                color: #767A80;
                letter-spacing: 3.43px;
            }
            p.sub-title {
                font-size: 18px;
                color: #767A80;
                letter-spacing: 2.57px;
            }
            .sites p {
                font-size: 14px;
                color: #767A80;
                letter-spacing: 2px;
            }

        }
        .chooses {
            .choose-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 103px;
                height: 95px;
                border: 1px solid #6E7CD4;
                border-radius: 2px;
                font-size: 14px;
                color: #6E7CD4;
                letter-spacing: 2px;
                .change-class-btn {
                    font-size: 14px;
                    color: #6E7CD4;
                    letter-spacing: 2px;
                    background: #fff;
                    border: none;
                }
                p {
                    height: 35px;
                    width: 103px;
                    line-height: 35px;
                    text-align: center;
                    border-bottom: 1px solid #6E7CD4;
                }
                .delete-class-btn {
                    color: #d5717e;
                    font-size: 14px;
                    letter-spacing: 2px;
                    background: #fff;
                    border: none;
                }
            }
        }

    }

    span.detail_panel_head {
        font-size: 14px;
        letter-spacing: 2px;
        margin-right: 100px;
    }
    span.active {
        color: #6E7CD4;
    }
    .course_detail_head {
        padding: 16px 8px;
        .detail_panel_ls_heading {
            font-size: 24px;
            color: #767A80;
            letter-spacing: 3.43px;
        }
        .detail_panel_ls_subheading {
            font-size: 12px;
            color: #767A80;
            letter-spacing: 1.71px;
            span {
                margin-left: 30px;
            }
        }
    }

    .course-info {
        a.course-info-change-btn {
            min-width: 80px;
            height: 35px;
            line-height: 35px;
            background: #6E7CD4;
            border: 1px solid #6E7CD4;
            border-radius: 4px;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 2px;
            text-align: center;
        }
        p {
            margin-right: 70px;
            margin-bottom: 32px;
            min-width: 110px;
            text-align: left;
            font-size: 14px;
            color: #767A80;
            letter-spacing: 1.4px;
            span {
                margin-left: 30px;
            }
        }
        .course-sub-title {
            margin-left: 260px;
        }
        .course-info-feature {
            width: 120px;
            height: 35px;
            border: 1px solid #979797;
            border-radius: 100px;
            line-height: 35px;
            text-align: center;
        }
    }
    .delete-course-btn {
        margin-right: 30px;
        margin-top: 10px;
        width: 100px;
        height: 35px;
        background: #FFFFFF;
        border: 1px solid #6E7CD4;
        border-radius: 4px;
        font-size: 14px;
        color: #D3727E;
        letter-spacing: 2px;
    }
    .course-code-btn {
        margin-right: 30px;
        margin-top: 10px;
        width: 150px;
        height: 35px;
        border: 1px solid #6E7CD4;
        border-radius: 4px;
        font-size: 14px;
        background: #fff;
        color: #6E7CD4;
        letter-spacing: 2px;
    }
    .add-experience {
        margin-top: 10px;
        width: 150px;
        height: 35px;
        border: 1px solid #6E7CD4;
        border-radius: 4px;
        font-size: 14px;
        background: #6E7CD4;
        color: #fff;
        letter-spacing: 2px;
    }
    .course_detail_panel_role_des {
        margin-top: 8px;
        margin-right: 13px;
        font-size: 12px;
        color: #767A80;
        letter-spacing: 1.71px;
    }
}
.class-teacher-card {
    margin-top: 8px;
    padding-bottom: 8px;
    background: #fff;
    width: 25%;
    min-height: 400px;
    height: auto;
    margin-right: 10px;
    background: #FFFFFF;
    box-shadow: 2px 2px 6px 0 #CAD5E1;
}
.class-course-card {
    margin-top: 8px;
    padding-bottom: 8px;
    background: #fff;
    width: 75%;
    min-height: 400px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 2px 2px 6px 0 #CAD5E1;
}
.class-card-head {
    padding: 14px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background: #f0f2fa;
    border: 1px solid #f0f2fa;
    .class-card-title {
        font-size: 14px;
        color: #485465;
        letter-spacing: 2px;
    }
    .class-card-btn {
        width: 80px;
        height: 35px;
        text-align: center;
        border: 1px solid #6E7CD4;
        background: #f0f2fa;
        border-radius: 2px;
        font-size: 14px;
        color: #6E7CD4;
        letter-spacing: 2px;
    }
}
.class-teacher-list {
    padding: 16px 0;
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #6E7CD4;
    .class-card-head-img {
        margin-right: 23px;
        width: 72px;
        height: 72px;
    }
    p {
        margin:8px 0;
        font-size: 12px;
        color: #767A80;
        letter-spacing: 1.58px;
    }
}
.class-course-list {
    padding: 16px 0;
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 47px;
    border-bottom: 1px solid #6E7CD4;
    p {
        margin-top: 8px;
        margin-right: 32px;
        margin-bottom: 8px;
        font-size: 14px;
        color: #485465;
        letter-spacing: 2px;er-spacing: 1.58px;
    }
}
.course-time p{
    margin-right: 20px;
    font-size: 14px;
    color: #6E7CD4;
    letter-spacing: 2px;
}
