.alt_yard_container {

    .yard_detail_title {
        height: 110px;
        padding: 24px;
        margin: 0;

        .title_text {
            
        }
        .sub_title_text {
            font-family: SFUIText-Regular;
            font-size: 14px;
            color: #6B778C;
            text-align: left;
            margin-top: 8px;
        }
    }

    .self_container {

        &:nth-child(1) {
            margin-bottom: 24px;
        }
        &:nth-child(2) {
            margin-bottom: 40px;
        }

        span {

            &:nth-child(1) {
                min-width: 56px;
                font-family: PingFangSC-Medium;
                font-size: 14px;
                color: #172B4D;
            }

            &:nth-child(2) {
                margin-left: 16px;
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #172B4D;
                letter-spacing: 1px;
            }
        }
    }

    .yard_room_container {
        // margin-bottom: 24px;
        
        .yard_room_title_container {
            background-color: #FFFFFF;
            height: 64px;
            padding: 16px 24px;

            .room-title {
                height: 32px;
                line-height: 32px;
                font-family: PingFangSC-Medium;
                font-size: 16px;
                color: #172B4D;
            }

            .add_btn {
                border: none;
                background: #80AEFF;
                border-radius: 100px;
                font-family: PingFangSC-Medium;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 2px;
                height: 32px;
                line-height: 16px;
                padding: 8px 24px;

                &.add_btn {
                    box-shadow: none;
                }
            }
        }
    }
}

.edit_subtitle_content {
    height: 32px;
    line-height: 32px;
    padding-left: 16px;
    background: #FAFBFC;
    border-radius: 4px;
    width: 386px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #253858;
}