/**
 * 学生详情界面
*/
.detail_stud_nav {
  height: 16px;
  line-height: 16px;
  margin-bottom: 16px;

  a {
    @extend %font-system-level-link;
    font-size: 12px!important;
  }

  span {
    font-size: 12px;
    color: #6B778C;
  }
}

.detail_title {
  margin-bottom: 8px;
  padding: 0 24px;
  height: 64px;
  line-height: 64px;
  background-color: #FFF;

  .title_text {
    @extend %font-dialog-title;
  }

  .detail_panel_edit_btn {
    margin: 16px 0 16px 16px;
    @extend %button-system-default-default;
  }
}

.stud_detail {
  .basis_margin {
    flex: 1;

.stud_detail_basis {
  height: 156px;
  margin-right: 8px;
  padding: 24px;
  background-color: #FFF;
  text-align: center;

    .basis_name {
      margin-bottom: 16px;
      @extend %font-page-header-title;
      height: 28px;
      line-height: 28px;
    }

    .basis_sex_age {
      @extend %font-help-text;
      margin:0 8px;
    }

    .basis_dob {
        margin-top: 24px;
        font-size: 0;
        span{
          padding: 0 8px;
          @extend %font-help-text;
        }
        // span:first-child {
        //     padding-right: 16px;
        //     @extend %font-help-text;
        // }
        // span:last-child {
        //     @extend %font-main-text;
        // }
    }
}
  }

  .stud_detail_other {
    flex: 2;

    .other_self {
      padding: 24px;
      background-color: #FFF;

      .self_container {
        font-size: 0;
        margin-bottom: 16px;
        
        span {
          display: inline-block;
        }

        span:first-child {
            min-width: 70px;
            margin-right: 16px;
            @extend %font-form-info-title;
        }

        span:last-child {
            @extend %font-main-text;
        }
      }

      .self_container:nth-last-child(1) {
        margin-bottom: 0;
      }

      .line {
        margin: 40px 0;
        border: 1px solid rgba(0,0,0,0.12);
      }

      .parent_info {
        margin-bottom: 16px;
        height: 40px;
        @extend %font-dialog-title;
      }
    }
  }
}
/**
 * end 学生详情界面
*/
