@import './bm-saas-standard/args';

.edit_container {

	.input_container {
		flex: 1;
		padding-top: 24px;
		padding-bottom: 0;
		margin-left: 240px;

		section.yard_section {
            margin: 24px;
            margin-top: 0;
			padding: 24px;
			background-color: $color-neutral-N000;

			.edit_panel {
				padding: 0;
				margin: 0;
				box-shadow: none;
				width: 100%;

                .edit_sub_title{
                    margin: 0;
                }

                .alt-edit-title {
                    color: #172B4D;
                    margin-bottom: 16px;
                }

                .alt-edit-only-margin {
                    margin-top: 20px;
                    
                    .alt-edit-title-des {
                        margin-bottom: 4px;
                    }
                }
                
                .line_half {
                    height: 32px;
                    margin-bottom: 32px;
                }

                .alt-edit-up-hit {
                    width: 600px;
                    margin: 0;
                    margin-bottom: 16px;
                }

                .alt-edit-line {
                    width: 600px;
                    margin: 0;
                    margin-bottom: 16px;
                }
                
                .alt-edit-half-line {
                    width: 300px;
                    margin: 0;
                    margin-bottom: 16px;
                }

                .alt-edit-text-area {
                    width: 600px;
                    margin: 0;
                    border: 1px solid #DFE1E5;
                    border-radius: 4px;
                }

                .alt-edit-step-btn {
                    margin-top: 40px;
                }
                
                input[type=text] {
                    margin: 0;
                    height: 32px;
                    border: 1px solid #DFE1E5;
                    border-radius: 4px;
                    box-shadow: none;
                }

				&.edit_first_panel {

					.alt-edit-title {
                        // color: #172B4D;
						margin-bottom: 16px;
					}

					.line_half {
						height: 32px;
						margin-bottom: 32px;
					}

                    .alt-edit-line {
                        width: 600px;
						margin: 0;
						margin-bottom: 16px;
					}
                    
					.alt-edit-up-hit {
						margin: 0;
						margin-bottom: 16px;
                    }

                    .alt-edit-step-btn {
						margin-top: 40px;
                    }
                    
					input[type=text] {
                        margin: 0;
						height: 32px;
						border: 1px solid #DFE1E5;
						border-radius: 4px;
						box-shadow: none;
					}
				}

				&.edit_second_panel {

				}

				&.edit_third_panel {

                    .single-select{
                        margin-bottom: 40px;
                    }

                    .alt-edit-title-loc {
						margin-bottom: 4px;
                    }

                    .alt-edit-line-area {
						margin-bottom: 40px;
                    }

                    // .alt-edit-line-traf {
					// 	margin-bottom: 4px;
                    // }
                    
                }

				&.edit_fourth_panel {

				}

				&.edit_fifth_panel {
                    min-height: 0;

				}
			}
		}
	}
}
