@import './bm-saas-standard/args';

.edit_container {

	.input_container {
		flex: 1;
		padding-top: 24px;
		padding-bottom: 0;
		margin-left: 240px;

        section.brand_section{
            padding: 0 24px 24px 24px;

            .edit_between_btn {
                padding: 6px 12px;
                height: 32px;
                min-width: 80px;
                line-height: 20px;
                background: rgba(9, 30, 66, 0.04);
                font-family: PingFangSC-Medium;
                border-radius: 2px;
                font-size: 14px;
                color: #42526E;
                display: inline-block;
                white-space: nowrap;
                vertical-align: middle;
                text-align: center;
                outline: none;
            }

			.edit_panel {
                min-height: 0;
				padding: 24px;
				margin: 0;
				box-shadow: none;
                width: 100%;

                select {
                    @extend %select-box-dropdown-default;
        
                    &.years-select {
                        width: 80px!important;
                    }
                }
                
                .edit_title_top {
                    font-family: PingFangSC-Medium;
                    font-size: 20px;
                    color: #172B4D;
                    margin-bottom: 40px;
                }
                
                .brand-logo-continer {
                    width: 272px;

                    .edit_subtitle {
                        margin-bottom: 0;
                    }
                    .bm-upload-container{
                        margin-top: 16px;
                        width: 272px;
                        height: 272px;
                    }
                    img {
                        width: 272px;
                        height: 272px;
                    }
                    .bm-upload-tag {
                        display: none;
                    }
                }
                .brand-base-info-continer {
                    padding-left: 56px;
                    width: 100%;

                    .brand-setup-time{
                        margin-top: 40px;
                    }
                }
                
                .edit_input_small {
                    width: 242px;
                }

                .edit_input_medium {
                    width: 388px;
                }

                .edit_input_big {
                    width: 592px;
                }

                .brand-input-group {
                    margin-top: 40px;
                    .edit_title {
                        font-family: PingFangSC-Medium;
                        font-size: 14px;
                        color: #172B4D;
                        letter-spacing: 0;
    
                    }
                    .edit_subtitle {
                        font-family: PingFangSC-Regular;
                        font-size: 14px;
                        color: #6B778C;
                        letter-spacing: 0;
                        margin-top: 4px;
                        font-weight: unset;
                    }
                    &:nth-child(1){
                        margin-top: 0px;
                    }
                }
                .edit_title {
                	font-family: PingFangSC-Medium;
                	font-size: 14px;
                	color: #172B4D;
                    letter-spacing: 0;

                }
                .edit_subtitle {
                	font-family: PingFangSC-Regular;
                	font-size: 14px;
                	color: #6B778C;
                    letter-spacing: 0;
                    margin-top: 4px;
                    font-weight: unset;
                }

                .edit_subtitle_nomargin {
                    margin-bottom: 0;
                    font-family: PingFangSC-Regular;
                	font-size: 14px;
                	color: #6B778C;
                    letter-spacing: 0;
                    margin-top: 4px;
                    font-weight: unset;
                }

                .alt-edit-title {
                    color: #172B4D;
                    margin-bottom: 16px;
                }

                .alt-edit-only-margin {
                    margin-top: 20px;
                    
                    .alt-edit-title-des {
                        margin-bottom: 4px;
                    }
                }
                
                .line_half {
                    height: 32px;
                    margin-bottom: 32px;
                }

                .alt-edit-up-hit {
                    width: 600px;
                    margin: 0;
                    margin-bottom: 16px;
                }

                .alt-edit-line {
                    width: 600px;
                    margin: 0;
                    margin-bottom: 16px;
                }
                
                .alt-edit-half-line {
                    width: 300px;
                    margin: 0;
                    margin-bottom: 16px;
                }

                .alt-edit-text-area {
                    width: 600px;
                    margin: 0;
                    // margin-top: 16px;
                    border: 1px solid #DFE1E5;
                    border-radius: 4px;
                }

                .alt-edit-step-btn {
                    margin-top: 40px;
                    width: 85px;
                    height: 32px;
                    line-height: 18px;
                }
                
                input[type=text] {
                    margin: 0;
                    margin-top: 16px;
                    height: 32px;
                    border: 1px solid #DFE1E5;
                    border-radius: 4px;
                    box-shadow: none;
                }

                .edit_panel_btn_margin {
                    margin-top: 40px;
                }

				&.edit_first_panel {

				}

				&.edit_second_panel {

				}

				&.edit_third_panel {

                    .line_conatainer_warp{
                        margin-top: 16px;

                        .add-img-div {
                            align-items: center;
                            width: 272px;
                            height: 182px;
                            border: 1px dashed #D2D4D9;
                            cursor: pointer;
                            background: #FAFBFC;

                            .add-new-img {
                                width: 32px;
                                height: 32px;
                            }
                        }
                        
                        .brand-honor-pic-upload {
                            margin-right: 24px;
                            margin-bottom: 24px;
                            width: 272px;
                            height: 218px;
                        
                            .bm-upload-form{
                        
                                div.bm-upload-container{
                                    width: 272px;
                        
                                    img{
                                        width: 272px;
                                        height: 182px;

                                    }
                                    .delete {
                                        top: 158px;
                                    }
                                }
                                
                            }
                            .bm-upload-tag{
                                max-width: none;
                                margin-top: 198px;
                                // justify-content: flex-start;
                            }
                        }
                    }
                }

				&.edit_fourth_panel {

                    .line_conatainer_warp{
                        margin-top: 16px;
                        
                        .add-img-div {
                            align-items: center;
                            width: 272px;
                            height: 182px;
                            border: 1px dashed #D2D4D9;
                            cursor: pointer;
                            background: #FAFBFC;

                            .add-new-img {
                                width: 32px;
                                height: 32px;
                            }
                        }

                        .brand-cert-pic-upload {
                            margin-right: 24px;
                            margin-bottom: 24px;
                            width: 272px;
                            height: 218px;
                        
                            .bm-upload-form{
                        
                                div.bm-upload-container{
                                    width: 272px;
                        
                                    img{
                                        width: 272px;
                                        height: 182px;
                                    }
                                    .delete {
                                        top: 158px;
                                    }
                                }
                                
                            }
                            .bm-upload-tag{
                                max-width: none;
                                margin-top: 198px;
                                // justify-content: flex-start;
                            }
                        }
                    }
				}

				&.edit_fifth_panel {


				}
            }

		}
	}
}
