@import './bm-saas-standard/args';

.edit_container {

	.input_container {
		flex: 1;
		padding-top: 24px;
		padding-bottom: 0;
		margin-left: 240px;

		section.yard_section {
            margin: 24px;
            margin-top: 0;
			padding: 0;
			background-color: $color-neutral-N000;

			.edit_panel {
				padding: 24px;
				margin: 0;
				box-shadow: none;
                width: 100%;

                .area-margin-bottom {
                    margin-bottom: 40px;


                }
                
                .edit_title_container {
                    margin-bottom: 40px;
                }

                .edit_sub_title{
                    margin: 0;
                    font-family: PingFangSC-Regular;
                    font-size: 14px;
                    color: #6B778C;
                    text-align: left;
                }

                .alt-edit-title {
                    color: rgb(18, 34, 61);
                    margin-bottom: 16px;
                }

                .alt-edit-only-margin {
                    margin-top: 20px;
                    
                    .alt-edit-title-des {
                        margin-bottom: 4px;
                    }
                }
                
                .line_half {
                    height: 32px;
                    margin-bottom: 32px;
                }

                .alt-edit-up-hit {
                    width: 600px;
                    margin: 0;
                    margin-bottom: 16px;
                }

                .alt-edit-line {
                    width: 600px;
                    margin: 0;
                    margin-bottom: 16px;
                }
                
                .alt-edit-half-line {
                    width: 300px;
                    margin: 0;
                    margin-bottom: 16px;
                }

                .alt-edit-text-area {
                    width: 600px;
                    margin: 0;
                    border: 1px solid #DFE1E5;
                    border-radius: 4px;
                }

                .alt-edit-step-btn {
                    margin-top: 40px;
                }
                
                input[type=text] {
                    margin: 0;
                    height: 32px;
                    border: 1px solid #DFE1E5;
                    border-radius: 4px;
                    box-shadow: none;
                }

				&.edit_first_panel {

                    .yard-name {
                        
                        input {
                            width: 228px;
                        }
                    }
                    .yard-contact {
                        
                        input {
                            width: 592px;
                        }
                    }
                    

					.alt-edit-title {
                        // color: #172B4D;
						margin-bottom: 16px;
					}

					.line_half {
						height: 32px;
						margin-bottom: 32px;
					}

                    .alt-edit-line {
                        width: 600px;
						margin: 0;
						margin-bottom: 16px;
					}
                    
					.alt-edit-up-hit {
						margin: 0;
						margin-bottom: 16px;
                    }

                    .alt-edit-step-btn {
						margin-top: 40px;
                    }
                    
					input[type=text] {
                        margin: 0;
						height: 32px;
						border: 1px solid #DFE1E5;
						border-radius: 4px;
						box-shadow: none;
					}
				}
                
				&.edit_second_panel {
                    min-height: 0;

                    .alt-edit-title {
                        margin-bottom: 0;
                    }
    
                    .line_conatainer_warp{
                        margin-top: 16px;

                        .alt-yard-edit-tag-img-adjust {
                            margin-right: 24px;
                            margin-bottom: 40px;
                            width: 272px;
                            height: 308px;
                        
                            .bm-upload-form{
                        
                                div.bm-upload-container{
                                    width: 272px;
                        
                                    img{
                                        width: 272px;
                                        height: 272px;
    
                                    }
                                }
                                
                            }
                            .bm-upload-tag{
                                margin-top: 288px;
                                justify-content: flex-start;
                            }
                        }
                        .alt-yard-edit-tag-img-adjust:nth-last-child(1){
                            margin-bottom: 0;
                        }
                    }
				}

				&.edit_third_panel {

                    // .single-select{
                    //     margin-bottom: 40px;
                    // }

                    // .alt-edit-title-loc {
					// 	margin-bottom: 4px;
                    // }

                    // .alt-edit-line-area {
					// 	margin-bottom: 40px;
                    // }
                    .box-content {
                        width: 800px;

                        .box-item {
                            margin: 0 40px 16px 0;
                            width: 112px;

                            input[type=checkbox] {
                                margin-left: 0;
                            }
                        }
                    }
                }

				&.edit_fourth_panel {

				}

			}
		}
	}
}
