@import './bm-saas-standard/args';
.edit_nav {
    margin-bottom: 24px;
    padding: 16px 24px;
    height: 64px;
    font-family: $font-brand;
    background-color: #FFF;
    span:first-child {
        @extend %font-page-header-title;
    }

    span:last-child {
        a {
          @extend %button-system-subtle-default;
        }

        .btn_save {
          @extend %button-system-disabled;
        }
    }
}

.edit_container {
    padding-top: 64px;
    font-family: $font-brand;

    .edit_left_nav {
        position: fixed;
    	padding-top: 24px;
    	z-index: 3;
    	background-color: #f7f8fa;
        flex: 0 0 240px;
        margin-bottom: 0;
        height: calc(100vh - 64px);
        width: 240px;

        li.left_bar_title{
            padding-left: 24px;
            margin-top: 32px;

            &:nth-child(1){
                margin-top: 0;
            }

            .edit_left_menu_text {
                color: #6B778C;
            }
        }

    	li {
            padding-left: 40px;
            text-align: left;
            height: 40px;

    		a.edit_left_menu_text {
                line-height: 40px;
    			@extend %font-form-info-title;
    		}

    	}
    }

  .input_container {
    flex: 1;
    padding-top: 24px;
    padding-bottom: 40px;
    margin-left: 240px;

    // .tech-infos-container{

    //     .tech-infos-icon{

    //         .edit_title{
    //             margin-bottom: 16px;
    //             font-family: $font-family;
    //             font-size: 14px;
    //             font-weight: 700;
    //             color: #172B4D;
    //         }
    //     }
    // }
    section.stu_section {
        margin: 0 24px 8px;
        padding: 24px;
        background-color: $color-neutral-N000;

      .input_area {

        input[type=radio] {

            & + label{
                margin-left: 0;
                margin-right: 32px;
            }
        }
        &.area-margin-bottom {
            margin-bottom: 40px;
        }

        .edit_title {
          font-family: $font-family;
            margin-bottom: 16px;
            @extend %font-form-info-title;
            span.sub_title {
                font-size: 11px;
                color: #6B778C;
            }
        }

        input.edit_input {
            margin-bottom: 4px;
            width: 144px;
            height: 32px;
            border: 1px solid #DFE1E5;
            border-radius: $border-radius-button-product;
            box-shadow: none;
        }

        .edit_hint {
          font-family: $font-family;
          font-size: 11px;
          color: $color-neutral-N200;
        }

        .date_choose {
          select {
            margin-right: 16px;
            padding: 0 8px;
            width: 120px;
            height: 32px;
            background: $color-select-bg-dafault;
            border-radius: $border-radius-button-product;
          }
        }
        &.area-margin-bottom:last-child {
            margin-bottom: 0;
        }
      }
    }
    section.tech_section {
        margin: 0 24px 8px;
        padding: 24px;
        background-color: $color-neutral-N000;
        .area-margin-bottom {
            margin-bottom: 40px;
        }
        .area-margin-left {
            margin-left: 40px;
        }
        .tech-infos-container {
            .tech-infos-icon{

                .edit_title{
                    margin-bottom: 16px;
                    font-family: $font-family;
                    font-size: 14px;
                    font-weight: 700;
                    color: #172B4D;
                }
            }
            .tech-avatar {
                flex: 0 0 272px;
                p{
                    height: 22px;
                    margin-bottom: 16px;
                }
                input{
                    height: 32px;
                    line-height: 26px;
                }
                img {
                    width: 272px;
                    height: 272px;
                }
            }
            .tech-basis-info {
                flex: 1;
                padding-left: 56px;
            }
        }
        .input_area {

            input[type=radio] {

                & + label{
                    margin-left: 0;
                    margin-right: 32px;
                }
            }

          .edit_title {
            margin-bottom: 16px;
            font-family: $font-family;
            font-size: $font-size-main;
            font-weight: 700;
            color: $color-neutral-N800;

            span.sub_title {
              font-size: 11px;
              color: $color-neutral-N200;
            }
          }

          input.edit_input {
          margin-bottom: 4px;
          width: 144px;
          height: 32px;
          border: 1px solid #DFE1E5;
          border-radius: $border-radius-button-product;
          box-shadow: none;
          }
          input.input_100 {
              width: 100%;
          }

          .edit_hint {
            font-family: $font-family;
            font-size: 11px;
            color: $color-neutral-N200;
          }

          .date_choose {
            select {
              margin-right: 16px;
              padding: 0 8px;
              width: 120px;
              height: 32px;
              background: $color-select-bg-dafault;
              border-radius: $border-radius-button-product;
            }
          }
          &.area-margin-bottom:last-child {
              margin-bottom: 0;
          }
        }
        &.edu-lifes,&.work-lifes {
            display: none;

            font-family: $font-family;
            .edu_exper_nav {
                // padding: 0 24px;
                height: 32px;
                line-height: 32px;
                span:first-child {
                  font-weight: 700;
                  font-size: $font-size-dialog;
                  color: $color-neutral-N800;
                }

                .btn_addedu {
                    padding: 0;
                    width: 80px;
                    height: 32px;
                    background: rgba(9,30,66,0.04);
                    border-radius: 3px;
                    font-size: $font-size-main;
                    color: $color-neutral-N070;
                    text-align: center;
                }
            }
            .edu_exper_container {
                padding: 24px 0 24px;
                .edu_exper_left {
                    flex: 0 1 120px;
                    opacity: 0.7;
                    font-size: $font-size-main;
                    color: $color-neutral-N200;
                }
                .edu_exper_change {
                    flex: 0 1 120px;
                }
                .edu_exper_content {
                    flex-grow: 1;
                    padding: 0 24px;
                    p {
                        margin-bottom: 8px;
                        line-height: 20px;
                        font-size: $font-size-main;
                        color: $color-neutral-N800;
                        letter-spacing: 1px;
                    }


                }
            }
            .line {
                opacity: 0.12;
                border: 1px solid #000000;
            }
        }
    }
  }
}
