@import "args";

.experience-nav {
    position: fixed;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 64px;
    background-color: #FFF;
    box-shadow: 2px 2px 6px 0 #CAD5E1;

    .experience-header {
        line-height: 64px;
        padding: 0 24px;
        .experience-title {
            font-family: $font-brand;
            font-size: 24px;
            color: #172B4D;
        }
        .experience-canel-btn {
            font-family: $font-brand;
            font-size: 14px;
            color: #42526E;
            letter-spacing: 2px;
            background: #FFFFFF;
            border-radius: 4px;
            padding: 7px 24px;
        }
        .commit {
            background: #6E7CD4;
            border: 1px solid #6E7CD4;
            color: #FFF;
        }
        .disable {
            background: rgba(9,30,66,0.04);
            border: 1px solid rgba(9,30,66,0.04);
            color: #A5ADBA;
        }
        .experience-btn {
            font-family: $font-brand;
            font-size: 14px;
            letter-spacing: 2px;
            border-radius: 4px;
            padding: 7px 24px;
        }
    }
}

.experience-content {
    .experience-active {
        color: #fff;
        background: #80AEFF;
    }

    .nav-active {
       color: #80AEFF !important;
    }

    .ageInput {
        width: 80px;
        margin-left: 5px;
        display: inline-block;
    }
    .experience-choose-btn {
        p {
            margin-right: 20px;
            width: 110px;
            height: 35px;
            border: 1px solid #80AEFF;
            border-radius: 4px;
            font-size: 14px;
            letter-spacing: 2px;
            line-height: 35px;
            text-align: center;
            cursor: pointer;
        }
    }

    .experience-class-title {
        font-family: $font-brand;
        font-size: 14px;
        color: #172B4D;
    }

    .text-sub {
        font-family: $font-brand;
        font-size: 14px;
        color: #6B778C;
    }

    .terms {
        margin-top: 18px;
        .reward-description {
            margin-bottom: 12px !important;
            height: 20px !important;
            line-height: 20px !important;
        }
    }

    .radio_p {
        height: 32px;
        .age-input {
            // display: inline-block;
            // float: left;
            top: -44px;
            left: 13px;
        }
    }

}
