@import "args";

.time-select {
    margin-right: 25px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    letter-spacing: 2px;
}
.today {
    color: #767A80;
}
.before {
    color: #BDBDBE;
}
.table-header {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    background: #6E7CD4;
    box-shadow: 2px 2px 6px 0 #CAD5E1;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1.71px;
    text-align: center;
    span {
        // margin-right: 50px;
        padding: 0 20px;
        min-width: 14%;
        margin-top: 5px;
    }
}
.table-body {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 60px;
    height: auto;
    width: 100%;
    background: #fff;
    box-shadow: 2px 2px 6px 0 #CAD5E1;
    font-size: 12px;
    color: #767A80;
    letter-spacing: 2px;
    text-align: center;
    span {
        // margin-right: 50px;
        padding: 0 20px;
        min-width: 14%;
        margin-top: 5px;
    }
    button.email-option {
        padding: 0 20px;
        min-width: 14%;
        margin-top: 5px;
        border: none;
        background: #fff;
        span {
            padding:9px 28px;
            background: #6E7CD4;
            border: 1px solid #6E7CD4;
            border-radius: 4px;
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 1.71px;
        }

    }

}
.inbox-table {
    div.table-body:nth-child(even) {
    background: #eff1f9;
    button.email-option {
        background: #eff1f9;
        span {
            background: rgba(0,0,0,0);
            color: #6E7CD4;
        }

    }
    }
}
.modal-header {
    border-bottom: none;
}
.modal-content {
    background: none;
    .modal-body {
        padding: 0 24px;
    }
}
.modal-footer {
    border-top: none;
}
.course-reserve-pop-ups {
    width: 512px;
    height: auto;
    background: #fff;
    .content-title-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 24px;
        .title {
            @extend %font-dialog-title;
        }
        span.base-info {
            @extend %font-help-text;
        }
    }
    .class-modal-content {
      margin: 64px 48px 48px;

      img {
        margin-top: 20px;
        margin-right: 48px;
        width: 80px;
        height: 80px;
      }

      .success-info {
        width: 250px;
      }

      p {
        margin: 20px 0;
        font-size: 14px;
        color: #888b8f;
        letter-spacing: 1.4px;
        line-height: 20px;
      }

      p.class-modal-title {
        color: #7788d4;
      }
    }
    .success-info {
        padding-left: 58px;
        padding-right: 45px;
        height: 323px;
        width: 580px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            margin-bottom: 20px;
            margin-right: 25px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        p {
            margin-bottom: 20px;
            font-size: 14px;
            color: #767A80;
            letter-spacing: 3.43px;
        }
    }
    .course-reserve-modal-title {
        height: 50px;
        background:#fff;
        p.l {
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: #172B4D;
        }
    }
    .course-reserve-success {
        width: 580px;
        height: 323px;
        .success-info {
            padding-left: 58px;
            padding-right: 45px;
            height: 323px;
            width: 580px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
                margin-bottom: 20px;
                margin-right: 25px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            p {
                margin-bottom: 20px;
                font-size: 14px;
                color: #767A80;
                letter-spacing: 3.43px;
            }
        }
    }
    .course-reserve-modal-body {
        padding: 24px 0 0;
        .course-reserve-content {
            .line-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
            }
            .card-area {
                margin-top: 24px;
            }
            .form-checked {
                margin-bottom: 16px;
                img.error {
                    margin-right: 4px;
                    width: 24px;
                    height: 24px;
                }
                .error-info {
                    font-family: PingFangSC-Regular;
                    font-size: 14px;
                    color: #DE350B;
                }
                .error-line {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
            .error-note {
                display: none;
            }
            .line-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 24px;
            }
            .line-area {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 45px;
            }
            p.course-point {
                margin-bottom: 24px;
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #6B778C;
                text-align: left;
            }
            p.course-reserve-title {
                margin-right: 25px;
                margin-bottom: 28px;
                font-weight: bold;
                font-family: PingFangSC-Medium;
                font-size: 14px;
                color: #172B4D;
            }
            .select-title {
                margin-bottom: 10px;
            }
            .list-title {
                margin-bottom: 16px;
            }
            .card-info {
                width: 220px;
                display: flex;
                flex-direction: row;
            }
            p.course-reserve-label {
                margin-bottom: 0;
                margin-right: 16px;
                min-width: 56px;
                text-align: left;
                @extend %font-form-info-title;
                span.base-info {
                    @extend %font-help-text;
                }
            }
            p.course-reserve-content {
                @extend %font-main-text;
            }
            .partner-name {
                margin-right: 38px;
                margin-bottom: 16px;
                @extend %font-main-text;
            }
            .partner-sex {
                margin-right: 32px;
                margin-bottom: 16px;
                @extend %font-help-text;
            }
            .partner-age {
                @extend %font-help-text;
            }
            .partner-tel {
                margin-bottom: 10px;
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #172B4D;
                text-align: left;
            }
            .partner-points {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
            .partner-point {
                font-family: PingFangSC-Regular;
                font-size: 11px;
                color: #6B778C;
            }
            .partner-card {
                margin-top: 20px;
                margin-right: 10px;
                padding: 16px;
                width: 200px;
                height: 116px;
                background: #fff;
                border: 0 solid rgba(9,30,66,0.12);
                box-shadow: 0 1px 1px 0 rgba(9,30,66,0.31);
                border-radius: 4px;
            }
            .course-reserve-btn {
                margin-right: 8px;
                width: 80px;
                height: 32px;
                background: #80AEFF;
                border: 1px solid  #80AEFF;
                border-radius: 4px;
                font-size: 14px;
                color: #FFFFFF;
                text-align: center;
            }
            .experience-apply-btn {
                margin-right: 8px;
                width: 80px;
                height: 32px;
                background: #e9ebee;
                border: 1px solid #e9ebee;
                border-radius: 4px;
                font-size: 14px;
                color: #6B778C;
                text-align: center;
            }

            select.error-border {
                border: 1px solid #DE350B;
            }
            select.course-reserve-modal-select {
                @extend %select-box-dropdown-default;
            }
            .course-participants {
                p {
                    font-size: 13px;
                    color: #767A80;
                    letter-spacing: 1.86px;
                }
                .course-child {
                    margin-bottom: 25px;
                    .course-child-name {
                        color: #6E7CD4;
                        margin-left: 15px;
                        margin-bottom: 15px;
                    }
                    .course-child-info p {
                        margin-left: 15px;
                        margin-right: 150px;
                        margin-bottom: 15px;
                    }
                }

            }
        }
    }
    .not-fill {
        @extend %button-system-disabled;
    }
    .course-reserve-card-cancel {
        width: 80px;
        height: 32px;
        border: 1px solid#80AEFF;
        border-radius: 3px;
        background: #fff;
        font-size: 14px;
        color: #80AEFF;
        letter-spacing: 2px;
    }
    .course-reserve-card-save {
        width: 90px;
        height: 32px;
        border: 1px solid #80AEFF;
        border-radius: 3px;
        background: #80AEFF;
        font-size: 14px;
        color: #fff;
        letter-spacing: 2px;
    }
    .arrangeSuccess {
        width: 580px;
        height: 323px;
        background: #fff;
    }
}
.ib_title_container {
    padding: 20px 24px;
    background-color: #fff;

    .ib_title {
        // font-family: PingFangSC-Medium;
        // font-size: 24px;
        // color: #172B4D;
        // height: 32px;

        p {
            font-family: PingFangSC-Medium;
            font-size: 24px;
            color: #172B4D;
            height: 32px;
            line-height: 32px;
        }
    }
}
.ib_table_select_area {
    margin-top: 24px;
    margin-bottom: 40px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    span {
        @extend %font-help-text;
    }
    .ib_table_select {
        background: #f7f8fa;
        background: url('https://bm-web.oss-cn-beijing.aliyuncs.com/chevron_down_normal%402x.png') no-repeat right center transparent;
        border: $color-border-none;
        border-radius: $border-radius-button-product;
        background-size: $width-icon;
        width: $width-select-dropdown;
        width: 92px;
        // height: 32px;
        border: none;
        @extend %font-help-text;
    }
}

.ib_tab_bar {
    border-bottom: 2px rgba(9,30,66,0.08) solid;
    width: 100%;
    min-width: 912px;
    margin-top: 24px;
    height: 24px;

    .ib_tab_btn {
        min-width: 80px;
        padding: 0 16px;
        height: 24px;
        font-family: $font-nav-acc;
        font-size: 14px;
        color: #42526E;
        text-align: center;
        line-height: 20px;

    }
    .ib_tab_btn_active {
        color: #3172E0;
        border-bottom: 2px #3172E0 solid;
    }

}

.bm-inbox-table {
    height: 1145px;
    margin: 24px 0;
}
.bm-sessionable-table {
    height: 585px;
    margin: 24px 0;
}
.bm-field-table {
    height: 585px;
    margin: 24px 0;
}
.ib_table_head {
    margin-top: 8px;
    min-width: 912px;
    border: none;
    background: transparent;
    width: 100%;

    .ib_table_title {
    }
    .ib_table_item {
        padding: 0px 24px 8px 24px;
        font-family: PingFangSC-Regular;;
        font-size: 12px;
        color: #6B778C;
        line-height: 16px;

        min-width: 100px;
    }

    .ib_table_content_item {
        padding: 8px 24px;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        // @extend %font-main-text;
        font-family: PingFangSC-Regular;
        text-align: left;

        max-width: 200px;
        span.dealed {
            @extend %font-help-text;
        }
        .ib_table_content_btn {
            border: none;
            background: #80AEFF;
            border-radius: 4px;
            padding: 6px 12px;

            font-family: $font-nav-acc;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
        }
        .ib_table_content_link_btn {
            border: none;
            background: transparent;
            border-radius: 4px;
            padding: 0;
            margin: 6px 0;
            font-family: $font-nav-acc;
            font-size: 14px;
            color: #80AEFF;
            letter-spacing: 0;
            text-align: center;

            &:active{
                background-color: transparent;
                border-color: transparent;
                color: #80AEFF;
            }
        }
    }
}
.bm-pagination {
    .pagination {
        margin: 0;

        .page-item {
            background-color: transparent;
            border-radius: 4px;
            height: 24px;
            min-width: 24px;

            .page-link {
                font-family: SFUIText-Medium;
                font-size: 14px;
                color: #42526E;
                letter-spacing: 0;
                text-align: center;
                height: 24px;
                background-color: transparent;
                border: none;
                padding: 0 8px;
                margin: 0;

                &:focus {
                    box-shadow: none;
                }
            }
            &.active {
                background-color: #42526E;

                .page-link {
                    color: #FFFFFF;
                }
            }
            &.disabled {
                .page-link {
                    color: #A5ADBA;
                }
            }
        }
        .page-num-item {
            width: 32px;
            .page-link {
                width: 32px;
            }
        }
    }
    .pagination-count {
        padding-left: 16px;
        font-family: SFUIText-Medium;
        font-size: 14px;
        // color: #42526E;
        color: #A5ADBA;
        height: 24px;
        line-height: 24px;
    }
}
