@import 'args';
.item-space {
    height: 20px;
    opacity: 0;
}
.left_bar {
    // z-index: 0.9;
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 #F4F5F7;
    width: 240px;
    height: 100%;
    padding-top: 88px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    .left_bar_item {
        padding-left: 12px;
        padding-right: 12px;
        width: 208px;
        margin-right: 16px;
        margin-left: 16px;
        height: 40px;
        line-height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        cursor: pointer;

        .left_menu_actv {
            
        }

        .left-bar-info {
            display: flex;
            flex-direction: row;
        }
        .email-num {
            margin-top: 12px;
            width: 25px;
            height: 16px;
            background: #3172E0;
            border-radius: 8px;
            font-size: 12px;
            color: #FFFFFF;
            line-height: 16px;
            text-align: center;
        }
        .left_menu_mid {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: nowrap;

            .active {

                span.left_menu_text, span.left_menu_text_sub {
                    color: #80AEFF;
                }
            }

            .left_menu_icon {
                width: 24px;
                height: 24px;
            }

            .left_menu_title {
                font-family: $font-nav-acc;
                font-size: 16px;
                color: #767A80;
                letter-spacing: 2px;
            }

            .left_menu_text {
                font-family: $font-nav-acc;
                font-size: 14px;
                color: #172B4D;
                // letter-spacing: 2px;
            }
            span.left_menu_text_sub {
                margin-left: 40px;
                font-family: $font-nav-acc;
                font-size: 14px;
                color: #172B4D;
                letter-spacing: 2px;
            }

        }

        .menu_margin_right {
            margin-right: 16px;
        }

        a:hover {
            text-decoration: none;
        }
    }
}
