@import "args";
@import 'bm-saas-standard/bm-saas-typography';
@import 'bm-saas-standard/bm-saas-button';

.stud_card {
    width: 201px;
    height: 116px;
    background: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(9,30,66,0.25);
    border-radius: 4px;
    // margin: 12px 8px;
    margin-bottom: 24px;
    margin-right: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .stud_card_name {
        @extend %font-form-info-title;
    }

    .stud_card_other {
        max-width: 90px;
        @extend %font-help-text;
        .stud_card_other_sex {

        }
        .stud_card_other_age {
            margin-left: 8px;
            max-width: 30px;
            overflow: hidden;
        }
    }
    .tel_icon {
        width: 20px;
        height: 20px;
    }
    .stud_card_phone {
        @extend %font-main-text;
    }

    .stud_card_from {
        @extend %font-minimum-text;
    }
}
