@import "args";

@import "stud-card";

%stud_content_basic {
    padding-left: 202px;
}

.stud_content_top {
    @extend %dd_content_basic;
    padding-top: 64px;
}
.modal-dialog {
    margin-top: 150px;
    .modal-content {
        background: transparent;
        border:none;
    }
    .stud-modal {
        padding-top: 40px;
        margin-left: 85px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 463px;
        width: 330px;
        background: #fff;
        .stud-modal-body {
            img {
                width: 237px;
                height: 237px;
                background: red;
                border: 1px solid #979797;
            }
            p {
                margin-top: 29px;
                text-align: center;
                font-family: $font-brand;
                font-size: 18px;
                color: #767A80;
                letter-spacing: 1.5px;
            }
        }
        .stud-modal-footer {
            display: flex;
            justify-content: space-between;
            width: 237px;
            border-top: none;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 30px;
            .btn-secondary {
                width: 80px;
                height: 35px;
                font-family: $font-brand;
                font-size: 14px;
                color: #767A80;
                background: #fff;
                border: 1px solid #979797;
                border-radius: 4px;
                letter-spacing: 1.17px;
            }
            .btn-success {
                width: 80px;
                height: 35px;
                font-family: $font-brand;
                font-size: 14px;
                color: #fff;
                background: #6E7CD4;
                border: 1px solid #6E7CD4;
                border-radius: 4px;
                letter-spacing: 1.17px;
            }
        }

    }
}
.stud_content {
    min-height: 768px;
    margin: 24px 18px 0 30px;
    padding: 0 24px;
    background-color: #FFF;

    .stud_header {
        height: 72px;
        line-height: 72px;
        .stud_title {
            font-family: $font-brand;
            font-size: 24px;
            color: #172B4D;
        }
        .stud_creat_btn {
            width: 100px;
            height: 32px;
            padding: 8px 15px;
            border-radius: 100px;
            background: #80AEFF;
            font-family: $font-brand;
            font-size: 14px;
            color: #FFFFFF;
        }
    }

    .stud_remind {
        font-family: $font-brand;
        font-size: 14px;
        color: #6E7CD4;
        letter-spacing: 2px;

        margin-top: 16px;
    }
    .stud_card_container {
        width: 216px;
        margin-top: 16px;
    }
}
