@import "args";
@import 'stud-frank';
@import "stud-card";
@import 'bm-saas-standard/bm-saas-typography';
@import 'bm-saas-standard/bm-saas-button';

%stud_content_basic {
    padding-left: 240px;
}

.stud_container {
  // @extend %dd_content_basic;
    padding-left: 240px;
    padding-top: 64px;
}

.stud_content {
    margin: 26px 24px 0;
    padding: 22px 24px;
    height: 100%;
    background-color: $color-neutral-N000;

    .stud_title {
        @extend %font-page-header-title;
    }
    .qr-code {
        .stud_add_btn {
            background: #80AEFF;
            border-radius: 100px;
            font-family: $font-nav-acc;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 2px;
            padding: 8px 24px;
        }
        .stud_add_btn:hover {
            text-decoration: none;
            color: #FFFFFF;
        }
        img {
            height: 32px;
            width: 32px;
        }
    }
    .card-wrap {
        margin-top: 34px;
    }
    // .stud_qrcod_btn {
    //     font-family: $font-brand;
    //     font-size: 14px;
    //     color: #FFFFFF;
    //     letter-spacing: 2px;
    //     background: #6E7CD4;
    //     border-radius: 100px;
    //     padding: 8px 9px;
    //     margin-right: 20px;
    //     min-width: 135px;
    // }
    // .stud_remind {
    //     font-family: $font-brand;
    //     font-size: 14px;
    //     color: #6E7CD4;
    //     letter-spacing: 2px;
    //     margin-top: 16px;
    // }
    // .stud_card_container {
    //     width: 260px;
    // }
}
