@import './bm-saas-standard/args';
@import "args";

.tech_card {
    width: 215px;
    height: 82px;
    background: $color-neutral-N000;
    box-shadow: 2px 2px 6px 0 #CAD5E1;
    border-radius: $border-radius-button-product;
    margin-right: 16px;
    margin-bottom: 24px;
    padding: 16px;
    // justify-content: flex-start!important;ß

    cursor: pointer;

    .tech_card_content{
        margin-left: 16px;

        .tech_card_content_line {
            // margin: 8px 0;
            margin: 0;

            .tech_card_title {
                font-family: $font-brand;
                font-size: $font-size-minimum;
                color: #767A80;
                letter-spacing: 1.58px;
            }

            .tech_card_text {
                margin-bottom: 8px;
                font-family: $font-brand;
                font-size: $font-size-main;
                color: $color-neutral-N800;
                letter-spacing: 1.58px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 50px;

                & + .tech_card_text {
                    margin-left: 8px;
                    font-family: SFUIText-Regular;
                    font-size: 14px;
                    color: #6B778C;
                    text-align: left;
                }
            }
            .tech_card_tel {
                font-size: $font-size-main;
                color: $color-neutral-N200;
            }
        }
    }

    .tech_card_icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .tel_icon {
        width: 20px;
        height: 20px;
    }
}
