@import './bm-saas-standard/args';
@import 'args';

@import 'tech-card';

%tech_content_basic {
    padding-left: 240px;
}

.tech_content_top {
    @extend %tech_content_basic;
    padding-top: 64px;
}

.tech_content {
    // padding: 22px 24px;
    padding: 0;
    margin: 24px;
    background: $color-neutral-N000;
    height: 100%;

    .tech-title-flex{
        align-items: center;
        height: 72px;
        padding: 20px 24px;

        p.page_title {
            font-size: 24px;
            color: $color-neutral-N800;
            line-height: 28px;
            height: 32px;
            
        }
        .tech_add_btn {
            background: $color-theme-T100;
            border-radius: 100px;
            font-family: $font-family;
            font-size: $font-size-main;
            color: $color-neutral-N000;
            letter-spacing: 2px;
            height: 32px;
            line-height: 16px;
            padding: 8px 24px;

        }
    }
    .tech-card-wrap{
        flex-wrap: wrap;
        padding: 24px;

        .tech_card_container {
            // margin-top: 46px;

        }
    }
}

// 编辑页导航栏位置修正
.nav .nav-item{
    
    .nav-link.active.brand_name.tech-nav-title{
        padding: 0;
    }
    .nav_save_btn.menu_button_between.tech-nav-savebtn{
        padding: 0;
    }
}