@import "args";

.yard_card {
    width: 230px;
    height: 223px;

    background: #FFFFFF;
    box-shadow: 2px 2px 6px 0 #CAD5E1;
    border-radius: 4px;

    margin-right: 24px;
    margin-bottom: 16px;

    // padding: 16px;

    .yard_card_content {
        padding: 16px 12px;
    }

    .yard_card_content_line {
        // margin: 8px 0;

        .yard_card_title {
            font-family: $font-brand;
            font-size: 14px;
            color: #767A80;
            letter-spacing: 2px;
        }

        .yard_card_text {
            font-family: $font-brand;
            font-size: 12px;
            color: #767A80;
            letter-spacing: 1.58px;

            margin-top: 8px;
        }
    }

    .yard_card_icon {
        width: 230px;
        height: 134px;

        // border-radius: 36px;
        // border: 1px solid black;
    }
}