@import 'bm-saas-standard/bm-select-box';
.class-teacher-card {
    .class-card-head-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 23px 24px;
        background: #fff;
        border-bottom: 1px solid rgba(9,30,66,0.08);
        .class-card-title {
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: #172B4D;
        }
        .class-card-btn {
            padding: 0;
            font-family: SFUIText-Medium;
            font-size: 14px;
            color: #42526E;
            text-align: center;
            line-height: 32px;
            background: none;
            border: none;
            width: 60px;
        }
    }
}
.class-card-teacher-content {
    height: 52px;
    border-bottom: 1px solid rgba(9,30,66,0.08);
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .class-card-head-img {
        border-radius: 50%;
        margin-right: 16px;
        width: 32px;
        height: 32px;
    }
    p {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #172B4D;
        text-align: left;
        line-height: 35px;
    }
    img.more-info {
        width: 24px;
        height: 24px;
    }
}

.class-course-card {
    .class-card-head-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 23px 24px;
        background: #fff;
        border-bottom: 1px solid rgba(9,30,66,0.08);
        .class-card-title {
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: #172B4D;
        }
        .class-card-btn {
            width: 88px;
            height: 32px;
            background: #80AEFF;
            border-radius: 16px;
            border: 1px solid #80AEFF;
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #FFFFFF;
            text-align: center;
        }
    }
    .class-course-content {
        height: 52px;
        border-bottom: 1px solid rgba(9,30,66,0.08);
        padding: 0 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #172B4D;
            text-align: left;
            line-height: 35px;
        }
    }

}
.add-student {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .add-student-btn {
        width: 88px;
        height: 32px;
        background: #80AEFF;
        border-radius: 16px;
        border: 1px solid #80AEFF;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
    }
}
.detail_content_top {
     height: 100%;
}
.detail_page {
    padding: 24px;
    margin-top: 14px;
    .tech_info_card {
        margin-right: 8px;
        width: 296px;
        // min-height: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .tech_info_base {
            width: 128px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .tech_info_other {
            margin-top: 42px;
            display: flex;
            flex-direction: column;
            width: 296px;
            .tech_info_other_list {
                margin-left: 24px;
                margin-bottom: 24px;
                height: 20px;
                line-height: 20px;
                p {
                    width: 56px;
                    text-align: left;
                    font-size: 14px;
                    color: #6B778C;
                    letter-spacing: -0.12px;
                    text-align: left;
                }
                span {
                    margin-left: 20px;
                    font-size: 14px;
                    color: #172B4D;
                    letter-spacing: 2;
                }
            }

        }
    }
    .tech_info_detail {
        width: 100%;
        padding: 0 24px;
        .tech_info_area {
            // padding-top: 40px;
            // min-height: 192px;
            // border-bottom: 1px solid rgba(0,0,0,0.12);
            p.period {
                opacity: 0.7;
                font-size: 14px;
                color: #6B778C;
            }
            p {
                margin-bottom: 24px;
                margin-right: 16px;
                min-width: 56px;
                font-size: 14px;
                color: #172B4D;
            }
            span {
                margin-bottom: 24px;
                font-size: 14px;
                color: #172B4D;
                letter-spacing: 1px;
            }
        }
    }
    .detail_head_name {
        line-height: 32px;
        font-size: 16px;
        color: #172B4D;
    }
    .more_btn {
        padding: 6px 26px;
        height: 32px;
        font-size: 14px;
        color: #42526E;
        text-align: center;
        background: rgba(9,30,66,0.04);
        border-radius: 3px;
    }
}
.detail_panel {
    @extend %detail_panel_basic;
    padding: 21px 24px;
    .detail_panel_img {
        margin-bottom: 16px;
        width: 128px;
        height: 128px;
        border-radius: 50%;
    }
    .detail_panel_role_name {
        margin-bottom: 10px;
        font-family: $font-href;
        font-size: 24px;
        color: #172B4D;
        line-height: 28px;
    }
    .detail_panel_role_des {
        height: 24px;
        line-height: 24px;
        font-family: $font-href;
        font-size: 14px;
        color: #6B778C;
        letter-spacing: 1.71px;
        img.sex-icon {
            margin-right: 10px;
            width: 24px;
            height: 24px;
        }
    }

}
/* 课程预约 */
a.reserve_detail_href_ref {
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #3172E0;
    line-height: 16px;
}
.detail_margin_top {
    margin-top: 24px;
    height: 72px;
}

.detail_margin_top.detail_margin_top_big {
    height: 110px;
    padding: 24px;

}

.reserve-detail-head {
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .reserve-detail-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .reserve-code-btn {
        width: 32px;
        height: 32px;
        background-image: url('../images/icon_QR.png');
        background-position: center;
        background-size: cover;
        margin-right: 16px;
    }
    .detail_panel_role_name {
        font-family: PingFangSC-Medium;
        font-size: 24px;
        color: #172B4D;
    }
    .detail_panel_title_name {
        // margin-bottom: 10px;
        font-family: PingFangSC-Semibold, Helvetica, sans-serif;
        font-size: 24px;
        color: #172B4D;
        line-height: 28px;
    }
    p.detail_panel_role_num {
        margin-top: 8px;
        font-size: 14px;
        color: #6B778C;
        text-align: left;
    }
    .reserve-more-btn {
        margin-right: 16px;
        width: 32px;
        height: 32px;
        background: url('../images/btn_more_default@2x.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .add_btn {
        border: none;
        background: $color-theme-T100;
        border-radius: 100px;
        font-family: $font-family;
        font-size: $font-size-main;
        color: $color-neutral-N000;
        letter-spacing: 2px;
        height: 32px;
        line-height: 16px;
        padding: 8px 24px;

    }
}
.reserve-table-header {
    margin-top: -20px;
    background: #f7f8fa;
    height: 40px;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #6B778C;
    span {
        min-width: 140px;
        max-width: 140px;
        text-align: center;
    }
}
.modal-content {
    border: none;
    .session-modal  {
        padding: 24px 8px;
        background: #fff;
        width: 512px;
        .line-list {
            margin-bottom: 24px;
        }
        .line-area {
            margin-top: 16px;
            .subtitle {
                line-height: 20px;
            }
            input[type=text] {
                margin-bottom: 0;
                height: 32px;
                width: 118px;
                border: 1px solid #DFE1E5;
                border-radius: 4px;
            }
        }
        .title {
            margin-bottom: 30px;
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: #172B4D;
        }
        .subtitle {
            margin-right: 16px;
            min-width: 20px;
            line-height: 32px;
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #172B4D;
        }
        .radio-col {
            margin-bottom: 10px;
            .session-modal-select {
                width: 330px;
                height: 35px;
                border: none;
                border-radius: 4px;
                line-height: 20px;
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #A5ADBA;
                text-align: left;
                // background: url("../img/chevron_down_normal@2x.png") no-repeat right center transparent;
                // @extend %select-box-dropdown-default;
            }
            label {
                font-family: SFUIText-Regular;
                font-size: 14px;
                color: #172B4D;
                text-align: left;
                line-height: 20px;
            }
        }

    }
    .session-modal-footer {
        .cancel {
            margin-right: 4px;
            width: 80px;
            height: 32px;
            background: none;
            border: none;
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #42526E;
            text-align: center;
        }
        .save {
            width: 80px;
            height: 32px;
            background: rgba(9,30,66,0.04);
            border-radius: 3px;
            border: none;
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #A5ADBA;
            text-align: center;
        }
    }

}
a.btn_sign {
    padding: 6px 12px;
    background: #80AEFF;
    border-radius: 4px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF !important;
    letter-spacing: 0;
    text-align: center;
}
.session-list {
    height: 56px;
    line-height: 56px;
}
