
{{#bmpage/bm-session-edit session=model.course onSaveSessionBtnClicked=(action 'saveCourseBtnClicked') describe=model.describe guide=model.guide cur_cate=model.course.category.title}}
    {{!-- {{#link-to 'detail.exp' model.reservable.id class="edit_nav_btn btn_cacel"}}
        取消
    {{/link-to}} --}}
    <button class="edit_nav_btn btn_cacel" {{action 'cancelClicked'}}>取消</button>
{{/bmpage/bm-session-edit}}
