{{#bmpage/bm-session-edit session=model.course onSaveSessionBtnClicked=(action 'saveCourseBtnClicked') describe=model.describe guide=model.guide cur_cate=model.course.category.title cur_time=model.course.length}}
{{log model.course}}
    {{#if isPushing}}
        {{#link-to 'course' class="edit_nav_btn btn_cacel"}}
            取消
        {{/link-to}}
    {{else}}
        <button class="edit_nav_btn btn_cacel" {{action 'cancelCourseBtnClicked'}}>取消</button>
    {{/if}}
{{/bmpage/bm-session-edit}}
