{{#bmpage/bm-session-edit session=model.course onSaveSessionBtnClicked=(action 'saveCourseBtnClicked') describe=model.describe guide=model.guide }}
    {{#if isPushing}}
        {{#link-to 'course' class="edit_nav_btn btn_cacel"}}
            取消
        {{/link-to}}
    {{else}}
        <button class="edit_nav_btn btn_cacel" {{action 'cancelCourseBtnClicked'}}>取消</button>
        {{!-- {{#link-to 'detail.course' bm_session_service.session.id class="edit_nav_btn btn_cacel"}}
            取消
        {{/link-to}} --}}
    {{/if}}
{{/bmpage/bm-session-edit}}