<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active brand_name" href="#">新建-课程信息</a>
    </li>
    <li class="nav-item menu_mid">
        <div class="menu_container">
            {{#link-to 'detail.experience' model.act.id class="nav_cancel_btn menu_button_between"}}
                取消
            {{/link-to}}
            {{#bs-button classNames="nav_save_btn menu_button_between" onClick=(action (mut modal3) true)}}确定{{/bs-button}}
            {{#bs-modal open=modal3 onHidden=(action (mut modal3) false) as |modal|}}
                <div class="course-reserve-pop-ups">
                    {{#modal.body classNames="course-reserve-success"}}
                        {{#layout-push direction=row classNames="success-info"}}
                            <img src="../images/success.png" alt="">
                            {{#layout-push direction=col}}
                                <p>成功创建课程： 课程名称 </p>
                                <p>您可以将该课程放入课程预约中！</p>
                            {{/layout-push}}
                        {{/layout-push}}
                    {{/modal.body}}
                    {{#modal.footer}}
                     {{#bs-button type="success" classNames="nav_cancel_btn menu_button_between" }}暂不开放{{/bs-button}}
                      {{#bs-button type="success" classNames="nav_save_btn menu_button_between"}}前往开放预约体验{{/bs-button}}
                    {{/modal.footer}}
                </div>
            {{/bs-modal}}
        </div>
    </li>
</ul>
<section id="basic-info" class="edit_page_top_margin edit_page_head_content" >
{{#layout-push direction="col" }}
    <p class="edit_page_head_title">足球小将的英雄之旅</p>
    {{#layout-push direction="row" classNames="edit_page_head_subtitle"}}
        <p>体验课</p>
        <p>足球</p>
        <p>2个场次报名中</p>
    {{/layout-push}}
{{/layout-push}}
</section>
<section id="basic-info" class="line_container_mid" >
    {{#layout-push direction='col' classNames="edit_panel edit_first_panel"}}
        {{#layout-push direction='row'}}
            <span class="edit_title">体验地点</span>
        {{/layout-push }}
        {{#layout-push direction='col' classNames='select-school'}}
            {{#layout-push direction="row" classNames="select-site"}}
                <p class="no-age-limit"><input type="checkbox" name="vehicle" value="赛事"/>使用已录入的场地</p>
                <p class="no-age-limit"><input type="checkbox" name="vehicle" value="赛事"/>其它场地</p>
            {{/layout-push}}
            <p class="edit_subtitle">地址</p>
            {{#layout-push direction="row" }}
                <div class="line_container" >
                    <select class="start-time" name="">
                        <option value="">科学</option>
                        <option value="">2018</option>
                    </select>
                </div>
                <div class="line_container" >
                    <select class="start-time" name="">
                        <option value="">年</option>
                        <option value="">2018</option>
                    </select>
                </div>
                <div class="line_container" >
                    <select class="start-time" name="">
                        <option value="">年</option>
                        <option value="">2018</option>
                    </select>
                </div>
            {{/layout-push}}
            {{bm-edit-line pholder="如：街道门牌号、小区楼号、楼层号" }}
        {{/layout-push}}
    {{/layout-push }}
</section>

<section id="basic-info" class="line_container_mid" >
    {{#layout-push direction='col' classNames="edit_panel"}}
        {{#layout-push direction='row'}}
            <span class="edit_title">体验时间</span>
        {{/layout-push }}
        {{#layout-push direction='col' classNames='select-school'}}

            {{#layout-push direction="row"}}
                <div class="line_container" >
                    <select class="start-time" name="">
                        <option value="">年</option>
                        <option value="">2018</option>
                    </select>
                </div>
                <div class="line_container" >
                    <select class="start-time" name="">
                        <option value="">年</option>
                        <option value="">2018</option>
                    </select>
                </div>
            {{/layout-push}}
            {{#layout-push direction="row"}}
                {{#layout-push direction="col"}}
                    <div class="line_container_split" >
                        <div class="line_container" >
                            <span class="select-time-subtitle">开始时间</span>
                        </div>
                    </div>
                    <div class="line_container" >
                        <select class="start-time" name="">
                            <option value="">年</option>
                            <option value="">2018</option>
                        </select>
                    </div>
                {{/layout-push}}
                {{#layout-push direction="col"}}
                    <div class="line_container_split" >
                        <div class="line_container" >
                            <span class="select-time-subtitle">结束时间</span>
                        </div>
                    </div>
                    <div class="line_container" >
                        <select class="start-time" name="">
                            <option value="">年</option>
                            <option value="">2018</option>
                        </select>
                    </div>
                {{/layout-push}}
            {{/layout-push}}
        {{/layout-push}}
    {{/layout-push }}
</section>

<section id="basic-info" class="line_container_mid" >
    {{#layout-push direction='col' classNames="edit_panel"}}
        {{#layout-push direction='row'}}
            <span class="edit_title">报名设置</span>
        {{/layout-push }}
        <p class="edit_subtitle">报名截止时间</p>
        {{#layout-push direction='col' classNames='select-school'}}
            {{#layout-push direction="row"  classNames="select-site"}}
                <p class="no-age-limit"><input type="checkbox" name="vehicle" value="赛事"/>无年龄限制</p>
                <p class="no-age-limit"><input type="checkbox" name="vehicle" value="赛事"/>无年龄限制</p>
            {{/layout-push}}
            {{#layout-push direction="row"}}
                {{#layout-push direction="row" classNames="select-site"}}
                    <p class="no-age-limit"><input type="checkbox" name="vehicle" value="赛事"/>其他</p>
                {{/layout-push}}
                <div class="line_container" >
                    <select class="start-time" name="">
                        <option value="">科学</option>
                        <option value="">2018</option>
                    </select>
                </div>
                <div class="line_container" >
                    <select class="start-time" name="">
                        <option value="">年</option>
                        <option value="">2018</option>
                    </select>
                </div>
            {{/layout-push}}
        {{/layout-push}}
        {{bm-edit-line title="活动名额" classNames="line_half"}}
        {{#layout-push direction="row" classNames="select-site"}}
            <p class="no-age-limit"><input type="checkbox" name="vehicle" value="赛事"/>不限制</p>
        {{/layout-push}}
    {{/layout-push }}
</section>
{{outlet}}
