
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{log urls}}
        {{#each urls as |url|}}
            {{#if (eq url.link "")}}
                <li class="breadcrumb-item active" aria-current="page">{{url.pageName}}</li>
            {{else}}
                <li class="breadcrumb-item">{{yield url}}</li>
            {{/if}}
        {{/each}}
    </ol>
</nav>