{{#bs-modal open=mswitch onHidden=(action 'cancelBtnClicked') onSubmit=(action 'successBtnClicked') onClose=(action 'cancelBtnClicked') as |modal|}}
    <div class="course-reserve-pop-ups">
        {{#if needTitle}}
            {{#modal.header classNames="course-reserve-modal-title"}}
                <p class="modal-title">
                    {{title}}
                </p>
            {{/modal.header}}
        {{/if}}
        {{#modal.body}}
            {{yield}}
        {{/modal.body}}
        {{#modal.footer}}
            {{#if needcancel}}
                {{#bs-button type="cancel" classNames=cancelbtncss onClick=(action 'cancelBtnClicked') }}{{canceltext}}{{/bs-button}}
            {{/if }}
            {{#bs-button type="success" classNames=successbtncss onClick=(action 'successBtnClicked') }}{{successtext}}{{/bs-button}}
        {{/modal.footer}}
    </div>
{{/bs-modal}}
