.detail_top_title_panel {
    align-items: center;
    margin-bottom: 8px;
    padding: 16px 24px;
    height: 64px;
    background-color: #FFF;
    min-width: 912px;

    .detail_top_title_text{
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #172B4D;
        height: 32px;
        line-height: 32px;
    }
    
    .detail_top_more_btn{
        padding: 6px 26px;
        height: 32px;
        font-size: 14px;
        color: #42526E;
        text-align: center;
        background: rgba(9, 30, 66, 0.04);
        border-radius: 3px;
    }
}