.course-basis-left-title{
    
    .deltail_title {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #172B4D;
        height: 28px;
        line-height: 28px;
        // margin-top: 24px;
        margin-bottom: 16px;
    }

    .detail_cat {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #6B778C;
        text-align: left;
        // margin-top: 8px;
        line-height: 20px;
        height: 20px;
        margin-bottom: 24px;
    }
}