.course-basis-right-info {
    
    .right_detail_panel {
        min-height: 40px;
        margin-bottom: 40px;
        
        .right_panel_perperty_title {
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #172B4D;
            margin-bottom: 24px;
            
        }
        
        .right_panel_perperty_des {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #172B4D;
            text-align: left;
            margin-bottom: 0;
            
        }
    }

    &:nth-last-child(1) {

        .right_detail_panel {
            margin-bottom: 0;

        }
    }
}