{{yield}}

{{#layout-push direction="row" split=true }}
    <p class="detail_top_title_text">{{title}}</p>
    {{#link-to linkAddr linkParam linkParam2 classNames='detail_top_more_btn'}}
        {{rightText}}
    {{/link-to}}
{{/layout-push}}