{{#bp-layout direction='col' classNames='stud_card' }}
    {{#bp-layout direction='row' main='between'}}
        <span class="stud_card_name">{{kid.name}}</span>
        <span class="stud_card_other">
            <span class="stud_card_other_sex">
                {{#if (bmeq kid.gender 0)}}
                    女 ♀
                {{else}}
                    男 ♂
                {{/if}}
            </span>
        <span class="stud_card_other_age">{{bmdob/bmdob2age kid.dob}}岁</span>
        </span>
    {{/bp-layout}}
    {{#bp-layout direction='col'}}
        {{#bp-layout direction='row' main='between'}}
            <span></span><span class="stud_card_from">来自小程序</span>
        {{/bp-layout}}
    {{/bp-layout}}
{{/bp-layout }}