{{#layout-push direction='col' classNames="alt_course_card"}}
    <img src={{cover}} class='alt_course_cover' />
    {{#layout-push direction='col' mid=true classNames="alt_course_content"}}
        {{#layout-push direction='col'}}
            <span class='alt_course_cat'>{{course.category.title}}</span>
            <span class='alt_course_title'>{{course.title}}</span>
        {{/layout-push}}
    {{/layout-push}}
{{/layout-push}}
