{{#if isSetData}}
    {{#bp-layout direction='col' classNames='detail_card'}}
        <img  src={{card.img_src}} class="detail_card_icon" />
        {{#bp-layout direction='col' main='center' classNames='detail_card_content'}}
            {{#bp-layout direction='col' midt=true }}
                {{#bp-layout direction='row' main='center' classNames='detail_card_content_line'}}
                    <span class="tetail_card_title">{{card.img_tag}}</span>
                {{/bp-layout }}
            {{/bp-layout }}
        {{/bp-layout }}
    {{/bp-layout }}
{{else}}
    {{#bp-layout direction='col' classNames='detail_card'}}
        <img  src="../images/cover_pic_2.jpeg" class="detail_card_icon" />
        {{#bp-layout direction='col' main='center' classNames='detail_card_content'}}
            {{#bp-layout direction='col' midt=true }}
                {{#bp-layout direction='row' main='center' classNames='detail_card_content_line'}}
                    <span class="tetail_card_title">休息区</span>
                {{/bp-layout }}
            {{/bp-layout }}
        {{/bp-layout }}
    {{/bp-layout }}
{{/if}}

{{yield}}