{{#if hasSetCourse}}
    {{#bp-layout direction='col' classNames='reserve_card'}}
        <img src="../images/course.png" alt="">
        {{#bp-layout direction="col" classNames="reser_card_info"}}
            <p class="course_card_text"><span class="course_card_text">{{reserve.course.category.sub}}</span>&nbsp;·&nbsp;6-12岁</p>
            <span class="course_card_title">{{reserve.course.name}}</span>
            <span class="course_card_time">2018.09.14-2018.11.14</span>

        {{/bp-layout}}
    {{/bp-layout }}
{{else}}
    {{#bp-layout direction='col' classNames='course_card' main='between'}}
        {{#bp-layout direction='col' main='center' classNames='course_card_content'}}
            {{#bp-layout direction='row' classNames='course_card_content_line'}}
                <span class="course_card_title">乐高少儿建构教室</span>
            {{/bp-layout }}
            {{#bp-layout direction='row' classNames='course_card_content_line'}}
                <span class="course_card_text">科学</span>
                <span class="course_card_text">STEM</span>
            {{/bp-layout }}
        {{/bp-layout }}
    {{/bp-layout }}
{{/if}}

{{yield}}
