{{yield}}
{{#bp-layout direction='row' classNames='stud_list' }}
    <span class="stud_card_name">{{stud.name}}</span>
    <span class="stud_card_other_sex">
        {{#if isFemale}}
            女生
        {{else}}
            男生
        {{/if}}
    </span>
    <span class="stud_card_other_age">{{stud.age}}岁</span>
    <span class="btn">查看</span>
{{/bp-layout }}
