{{#bp-layout direction='col' classNames='yard_card'}}
        <img src={{iconImg}} class="yard_card_icon" />
    {{#bp-layout direction='col' main='center' classNames='yard_card_content'}}
        {{#bp-layout direction='col' midt=true }}
            {{#bp-layout direction='row' classNames='yard_card_content_line'}}
                <span class="yard_card_title">{{yard.title}}</span>
            {{/bp-layout }}
            {{#bp-layout direction='row' classNames='yard_card_content_line'}}
                <span class="yard_card_text">{{yard.address}}</span>
            {{/bp-layout }}
        {{/bp-layout }}
    {{/bp-layout }}
{{/bp-layout }}

{{yield}}
