<div >
    {{nav-top}}
    {{left-menu}}
</div>

<div class="detail_content_top" >
    <div class="detail_page" >
        {{#link-to 'stud' class="detail_href_ref"}}
            返回
        {{/link-to}}

        <div class='detail_panel' >
            {{#layout-push direction='row' split=true classNames="class-head-card"}}
                {{#layout-push direction='col' mid=true classNames='left-info'}}
                    <div >
                        <p class="headline">跆拳道入门Ａ班</p>
                        <p class="sub-title">课程名称</p>
                    </div>
                    {{#layout-push direction='row' classNames="sites" split=true}}
                        <p>场地：道观1场地</p>
                        <p>时间：尚未安排</p>
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="col" classNames="chooses v_end"}}
                    {{#layout-push direction='col' mid=true classNames="choose-list"}}
                        <p>更多</p>
                        <a href="">修改班名</a>
                        <a href="" class="delete-class">删除班级</a>
                    {{/layout-push}}
                {{/layout-push}}
            {{/layout-push}}
        </div>

        <div class="detail_panel detail_panel_col_between" >
            {{#layout-push direction='row' split=true classNames="tabs"}}
                <span class='detail_panel_head active'>详细信息</span>
                <span class="detail_panel_head">班级详情</span>
                <span class="detail_panel_head">学员名单</span>
            {{/layout-push}}
        </div>

    </div>
</div>

{{outlet}}
