{{!-- {{outlet}} --}}

{{#layout-push direction='col' mid=true}}
    {{#layout-push direction='row' mid=true}}
        <span class='alt_course_title'>课程详情</span>
    {{/layout-push}}
    {{#layout-push direction='row' mid=true}}
        <span class='alt_course_title'>课程详情</span>
    {{/layout-push}}
    {{#layout-push direction='row' mid=true}}
        <span class='alt_course_title'>课程详情</span>
    {{/layout-push}}
{{/layout-push}}