<section class='alt_course_selection alt_course_padding'>
    {{#layout-push direction='col' classNames='alt_course_container'}}
        {{#link-to 'course' class="alt_href_link"}}
            返回 
        {{/link-to}}
        {{#bmpage/bm-session-info session=bm_session_service.session}}
            {{bmdetail/bm-top-title-panel title="课程详情" rightText="编辑" linkAddr='edit.course' linkParam=bm_session_service.session.id}}
            {{!-- {{#link-to 'edit.course' bm_session_service.session.id classNames='alt_course_btn'}}
                编辑
            {{/link-to}} --}}
        {{/bmpage/bm-session-info}}
    {{/layout-push}}
</section>
