<div >
    {{nav-top}}
    {{left-menu}}
</div>
<div class="detail_content_top">
    <div class="detail_page">
        {{#link-to 'tech' class="detail_href_ref"}}
            返回
        {{/link-to}}
        <div class='detail_panel' >
            {{#layout-push direction='row' split=true}}
                {{#layout-push direction='col' mid=true }}
                    {{#layout-push direction='col'}}
                        <span class="detail_panel_role_name">乐高机器人设计搭建课</span>
                        {{#layout-push direction='row'}}
                            <span class="course_detail_panel_role_des">运动</span>
                            <span class="course_detail_panel_role_des">跆拳道</span>
                        {{/layout-push}}
                    {{/layout-push}}
                {{/layout-push}}
                {{#layout-push direction="row"}}
                    <button type="button" name="button" class="btn delete-course-btn">删除</button>
                    {{#bs-button class="stud_qrcod_btn" onClick=(action (mut courseCode) true) classNames="course-code-btn"}}生成课程二维码{{/bs-button}}
                    <div local-class="modal-dialog">
                        {{#bs-modal open=courseCode onHidden=(action (mut courseCode) false) as |modal|}}
                            <div class="stud-modal">
                                {{#modal.body classNames="stud-modal-body"}}
                                  <img src="" local-class="code-img" alt="">
                                  <p local-class="title">课程预约详情</p>
                                {{/modal.body}}
                                {{#modal.footer classNames="stud-modal-footer"}}
                                  {{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
                                  {{#bs-button type="success" onClick=(action modal.submit)}}保存图片{{/bs-button}}
                                {{/modal.footer}}
                            </div>
                        {{/bs-modal}}
                    </div>
                {{/layout-push}}
            {{/layout-push}}
        </div>
        <div class="detail_panel detail_panel_col_between" >
            {{#layout-push direction='row'}}
                    <div class="time-select today">
                        <p>累计预约人数</p>
                    </div>
            {{/layout-push}}
        </div>
        <div class="detail_page table-header">
            {{#layout-push direction='col'}}
                {{#layout-push direction='row' split=true}}
                    {{#each model as |item|}}
                        <span>{{item.title}}</span>
                    {{/each}}
                {{/layout-push}}
            {{/layout-push}}
        </div>
        <div class="inbox-table">
            <div class="detail_page table-body">
                    {{#layout-push direction='col'}}
                        {{#layout-push direction='row' split=true}}
                            <span class="email-status">已到</span>
                            <span class="">08/03（周五）10:30</span>
                            <span class="">北京朝阳区东外56号文创产业园111座</span>
                            <span class="">王大槌</span>
                            <span class="">184 9382 7483</span>
                            {{#bs-button classNames="email-option" onClick=(action (mut modal3) true)}}<span>签到</span>{{/bs-button}}
                        {{/layout-push}}
                    {{/layout-push}}
            </div>
            <div class="detail_page table-body">
                    {{#layout-push direction='col'}}
                        {{#layout-push direction='row' split=true}}
                            <span class="email-status">未到</span>
                            <span class="">08/03（周五）10:30</span>
                            <span class="">北京朝阳区东外56号文创产业园111座</span>
                            <span class="">王大槌</span>
                            <span class="">184 9382 7483</span>
                            {{#bs-button classNames="email-option" onClick=(action (mut modal3) true)}}<span>取消签到</span>{{/bs-button}}
                        {{/layout-push}}
                    {{/layout-push}}
            </div>
        </div>
    </div>
</div>
{{outlet}}
