{{yield}}
{{#bp-layout direction='row' classNames="check-box"}}
    <p class={{checkboxTitle}}>{{title}}</p>
    {{#bp-layout direction="column" classNames="box-content"}}
        {{#each checkboxItem as |item|}}
            {{#bp-layout direction="row" classNames="box-item"}}
                <input type="radio" name="labels" id="labels" value="" class="checkbox">{{item}}
            {{/bp-layout}}
        {{/each}}
    {{/bp-layout}}
{{/bp-layout}}
