{{!-- {{yield}} --}}
{{#each listInputs as |item index|}}
    {{#bmform/bm-edit-line title=(concat "第" item.id "项") maxCount="6" maxlength="6" pholder="请输入" inputVal=item.text}}
        <span class="edit_input_remove" {{action "remove" item.id}}>
            <img src="../images/remove.png"/>
        </span>
    {{/bmform/bm-edit-line}}
{{/each}}
<p class="add-other-btn" {{action "addProject"}}>＋添加项目</p>