<section id="about-tech" class="alt_course_section" >
    {{#layout-push direction="col" classNames='alt_course_panel edit_panel edit_fourth_panel'}}
        <span class='alt_course_title alt_course_big_title'>与孩子互动</span>
        {{#layout-push direction="col" classNames='alt-course-input-group'}}
            <span class="alt-edit-title alt-edit-title-des">描述互动环节</span>
            <span class='alt-edit-up-hit'>丰富且有细节的描述让孩子和家长同时期待这次参与</span>
            {{textarea value=session.playChildren classNames='alt-edit-area' rows=5}}
        {{/layout-push}}
        {{yield}}
    {{/layout-push}}
</section>
