<section id="start-story" class="alt_course_section" >
    {{#layout-push direction='col' classNames='alt_course_panel edit_panel edit_sixth_panel'}}
        <span class='alt_course_title alt_course_big_title'>宝贝将获得什么呢？</span>
        <span class='alt_course_title'>结束后，宝贝将获得什么实质性的成果呢？</span>
        <span class='alt_course_des'>如：小礼物、手作機器人等…</span>
        {{input type="text" class="edit_input" maxlength='10' value=session.acquisition}}
        <div class="course-edit-check course-edit-check-low">
            <span class="radio-inline">
                <input type="checkbox" name="rel" />
                <label for="female">暂无获得物</label>
            </span>
        </div>
        {{yield}}
    {{/layout-push}}
</section>