<section id="start-story" class="alt_course_section" >
    {{#layout-push direction='col' classNames='alt_course_panel edit_panel edit_ten_panel'}}
        <span class='alt_course_title alt_course_big_title'>须知</span>
        <span class='alt_course_title'>参与者须知</span>
        <span class='alt_course_des'>详细说明可以让参与者做好充分准备。如：着装建议、身体情况限制、 接送说明等。</span>
        {{input type="text" class="edit_input" value=session.notice}}
        <div class="course-edit-check course-edit-check-low">
            <span class="radio-inline">
                <input type="checkbox" name="rel" />
                <label for="female">无须知说明</label>
            </span>
        </div>
        {{yield}}
    {{/layout-push}}
</section>
