<section id="start-story" class="alt_course_section" >
    {{#layout-push direction='col' classNames='alt_course_panel edit_panel edit_eighth_panel'}}
        <span class='alt_course_title alt_course_big_title'>陪同说明</span>
        <span class='alt_course_title'>是否需要家长陪同？</span>
        <div class="course-edit-check course-edit-check-high">
            {{#if noAcc}}
                <div class="">
                    <span class="radio-inline">
                        <input type="radio" name="acc" checked='checked'/>
                        <label for="acc">不需要家长陪同</label>
                    </span>
                </div>
                <div class="">
                    <span class="radio-inline" {{action 'needAcc'}}>
                        <input type="radio" name="acc"/>
                        <label for="acc">需要家长陪同</label>
                    </span>
                </div>
            {{else}}
                <div class="">
                    <span class="radio-inline" {{action 'needNoAcc'}}>
                        <input type="radio" name="acc"/>
                        <label for="acc">不需要家长陪同</label>
                    </span>
                </div>
                <div class="">
                    <span class="radio-inline">
                        <input type="radio" name="acc" checked='checked'/>
                        <label for="acc">需要家长陪同</label>
                    </span>
                </div>
            {{/if}}

        </div>
        {{!-- <div class="course-edit-check course-edit-check-high">

        </div> --}}
        <div class="accompany-bottom-margin-div"></div>
        {{yield}}
    {{/layout-push}}
</section>
