<section id="basic-info" class="alt_course_section" >
    {{#layout-push direction='col' classNames="alt_course_panel edit_panel edit_third_panel"}}
        {{#if (bmeq session.status 1)}}
            <span class='alt_course_title alt_course_big_title'>描述一下体验课的内容吧</span>
        {{else}}
            <span class='alt_course_title alt_course_big_title'>描述一下活动的内容吧</span>
        {{/if}}
        {{#layout-push direction="col" classNames='alt-course-input-group'}}
            {{#if (bmeq session.status 1)}}
                <span class="alt-edit-title alt-edit-title-des">体验课内容</span>
                <span class='alt-edit-up-hit'>介绍体验课具体场景及内容，有趣、详细的內容介绍会引起参与者的极大兴趣。</span>
            {{else}}
                <span class="alt-edit-title alt-edit-title-des">活动内容</span>
                <span class='alt-edit-up-hit'>介绍活动具体场景及内容，有趣、详细的內容介绍会引起参与者的极大兴趣。</span>
            {{/if}}

            {{textarea value=session.description classNames='alt-edit-area' rows=5}}
        {{/layout-push}}
        {{yield}}
    {{/layout-push }}
</section>
