{{yield}}
<ul class="edit_left_nav">
    {{#each describe as |item idx|}}
        <li class="left_bar_item">
            {{bmsessioninfo/bm-input-menu-exp
                select_idx=cur_page_idx
                start_index=0
                index=idx
                title=item
                onItemClicked=(action 'itemClicked')
                classNames='edit_left_menu_text'
            }}
        </li>
    {{/each}}
</ul>
