p, button {
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
$font-family: Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
$font-size-header: 24px;
$font-size-promot: 20px;
$font-size-dialog: 16px;
$font-size-main: 14px;
$font-size-minimum: 12px;
$font-weight-medium: 600;
$font-weight-regular: 400;

$color-theme-T100: #80AEFF;
$color-theme-T050: #BFD6FF;
$color-theme-T020: #E6EFFF;
$color-primary-B400: #3172E0;
$color-neutral-N800: #172B4D;
$color-neutral-N200: #6B778C;
$color-neutral-N070: #A5ADBA;
$color-neutral-N020: #F7F8FA;
$color-neutral-N000: #FFFFFF;
$color-error-R400: #DE350B;
$color-success-other: #39BF5F;
$color-form-unfilled-text: #7A869A;
$color-form-filled-text: #253858;
$color-form-disabled-text: #A5ADBA;
$color-button-default-default: #42526E;
$color-button-bg-disabled: rgba(9,30,66,0.04);
$color-no-bg: transparent;
$color-select-bg-dafault: #FAFBFC;
$color-select-bg-hover: #F0F2F5;
$color-border-none: 1px solid transparent;
$color-border-checkbox: 1px solid #DFE1E5;

$padding-button-top-and-bottom: 6px;
$padding-button-left-and-right: 12px;
$padding-button-icon-left: 6px;
$padding-button-icon-right: 2px;
$padding-select-dropdown-left: 16px;
$padding-select-dropdown-right: 32px;
$padding-checkbox-around: 6px;
$no-margin-or-padding: 0;
$margin-checkbox-left: 20px;
$margin-checkbox-right: 4px;
$margin-checkbox-item-bottom: 10px;
$margin-checkbox-item-right: 30px;
$margin-radiobtn-left: 4px;

$height-button: 32px;
$width-button: 80px;
$width-button-icon: 32px;
$width-icon: 24px;
$height-icon: 24px;
$line-height-button: 20px;
$border-radius-button-system: 2px;
$border-radius-button-product: 4px;
$border-radius-icon-only: 3px;
$width-select-dropdown: 360px;
$height-select-dropdown: 32px;
$width-height-checkbox: 14px;
$width-checkbox-boxtitle: 63px;
$height-checkbox: 24px;
