{{!-- {{yield}} --}}
<div class='bm-view-container' >
    <div class='bm-view bm-agendaWeek-view bm-agenda-view' >
        <table>
            <thead class='bm-head'>
                <tr>
                    <td class='bm-head-container bm-weiget-header'>
                        {{bmcls/cls-week-calendar-header start_date=start_date end_date=end_date}}                        
                    </td>
                </tr>
            </thead>
            <tbody class='bm-body'>
                <tr>
                    <td class='bm-widget-content'>
                        <div class='bm-day-grid bm-unselectable'>
                            <div class='bm-row bm-week bm-weiget-content' style='border-right-width: 1px; margin-right: 14px;' >
                                <div class='bm-bg'>
                                    <table >
                                        <tbody>
                                            <tr>
                                                <td class='bm-axix bm-widget-content' style="width: 58px" >
                                                    <span>all-day</span>
                                                </td>
                                                <th class='bm-axix bm-widget-header' ></th>
                                                <th class='bm-day bm-widget-header' ></th>
                                                <th class='bm-day bm-widget-header' ></th>
                                                <th class='bm-day bm-widget-header' ></th>
                                                <th class='bm-day bm-widget-header' ></th>
                                                <th class='bm-day bm-widget-header' ></th>
                                                <th class='bm-day bm-widget-header' ></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
