{{!-- {{yield}} --}}
    <table style='height: 100%'>
        <tbody>
            <tr>
                {{#bmcls/cls-week-calendar-axis classNames='bm-widget-content'}}
                    <span></span>
                {{/bmcls/cls-week-calendar-axis}}
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
            </tr>
        </tbody>
    </table>