{{!-- {{yield}} --}}
{{!-- <div class='bm-bg'> --}}
    <table style='height: 100%'>
        <tbody>
            <tr>
                <td class='bm-axis bm-widget-header' style="width: 58px" >
                    <span>all-day</span>
                </td>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
                <th class='bm-day bm-widget-content' ></th>
            </tr>
        </tbody>
    </table>
{{!-- </div> --}}