{{!-- {{yield}} --}}
{{!-- <div class='bm-content-left'></div> --}}
{{#layout-push direction='col' mid=true classNames='bm-content-right'}}
    <span class="bm-content-cls-title">{{display_str}}</span>
{{/layout-push}}