{{!-- {{yield}} --}}
<table style='height: 100% background-size: 100%; opacity: 0.5; filter: alpha(opacity = 30);'>
    <tbody>
        {{#each times as |item|}}
            <tr >
                <td class='bm-axis bm-time bm-widget-content' style="width: 58px">
                    <span>
                        {{bmcls/cls-time-create item '00'}}
                    </span>
                </td>
                <td class='bm-widget-content'></td>
            </tr>
            <tr>
                <td class='bm-axis bm-time bm-widget-content bm-minor' style="width: 58px">

                </td>
                <td class='bm-widget-content'></td>
            </tr>
            <tr >
                <td class='bm-axis bm-time bm-widget-content' style="width: 58px">
                    <span>
                        {{bmcls/cls-time-create item '30'}}
                    </span>
                </td>
                <td class='bm-widget-content'></td>
            </tr>
            <tr>
                <td class='bm-axis bm-time bm-widget-content bm-minor' style="width: 58px">

                </td>
                <td class='bm-widget-content'></td>
            </tr>
        {{/each}}
    </tbody>
</table>