{{!-- {{yield}} --}}
{{!-- <div class='bm-content-left'></div> --}}
{{#bp-layout direction='col' main='center' classNames='bm-content-right'}}
    <span class="bm-content-cls-title">{{display_str}}</span>
{{/bp-layout}}