<div class="course_content_top" >
    {{#layout-push direction="col" classNames="course_content"}}
        {{#layout-push direction="row" split=true classNames="course-title-flex"}}
            <p class="page_title">活动</p>
            {{!-- {{#link-to 'edit.actv' 'actv/push' classNames='course_add_btn'}}+ 创建体验课{{/link-to}} --}}
        {{/layout-push}}
        {{#layout-push direction="row" wrap=true classNames="course-card-wrap"}}
            {{#each bm_actv_service.exps as |item|}}
                <div class="line_container_warp course_card_container" >
                    {{bmcard/bm-reservable-card onCourseCardClicked=(action 'cardClicked') exp=item}}
                </div>
            {{/each}}
        {{/layout-push}}
    {{/layout-push}}
</div>
{{outlet}}