<div>
    {{nav-top}}
    {{left-menu}}
</div>

<div class="stud_content_top" >
    {{#layout-push direction="col" classNames="stud_content"}}
    {{#layout-push direction="row"}}
        {{#bs-button class="stud_qrcod_btn" onClick=(action 'openReserve')}} + 开放预约课程 {{/bs-button}}
    {{/layout-push}}
        <span class="stud_remind">温馨提示：成功添加的预约课程将在小程序和APP上显示。</span>
        {{#layout-push direction="row" wrap=true classNames="card-wrap"}}
            {{#each model.reserves as |item|}}
                <div class="line_container_warp stud_card_container" >
                    {{course-card onCourseCardClicked=(action 'cardClicked') course=item.course}}
                </div>
            {{/each}}
        {{/layout-push}}

    {{/layout-push}}
</div>

{{outlet}}
