<div >
    {{nav-top}}
    {{left-menu}}
</div>

<div class="tech_content_top" >
    {{#layout-push direction="col" classNames="tech_content"}}
        {{#layout-push direction="row"}}
            <button class="tech_add_btn">+ 添加课程</button>
        {{/layout-push}}
        <div class="line_container_warp yard_card_container" >
            {{course-card }}
        </div>
    {{/layout-push}}
</div>

{{outlet}}
