<section class='course_selection'>
    {{#layout-push direction='col' classNames='course_panel'}}
        {{#layout-push direction='row' split=true classNames='course_head'}}
            {{#layout-push direction='col' mid=true classNames='course_text'}}
                课程
            {{/layout-push}}
            {{#layout-push direction='col' mid=true classNames='course_text'}}
                {{#link-to 'edit.course' 'course/push' classNames='course_add_btn'}}
                    + 添加课程
                {{/link-to}}
            {{/layout-push}}
        {{/layout-push}}
        {{#layout-push direction='row' classNames='course_warp_content'}}
            {{#each model as |item|}}
                {{course-card onCourseCardClicked=(action 'cardClicked') course=item}}
            {{/each}}
        {{/layout-push}}
    {{/layout-push}}
</section>

{{!-- <div class="course_content_top" >
    {{#layout-push direction="col" classNames="course_content"}}
        {{#layout-push direction="row"}}
            {{#link-to 'edit.course' 'course/push' classNames='course_add_btn'}}
                + 添加课程
            {{/link-to}}
        {{/layout-push}}
        {{#layout-push direction="row" wrap=true classNames="card-wrap"}}
            {{#each model.course as |item|}}
                <div class="line_container_warp course_card_container" >
                    {{course-card onCourseCardClicked=(action 'cardClicked') course=item}}
                </div>
            {{/each}}
        {{/layout-push}}

    {{/layout-push}}
</div> --}}

{{outlet}}
