<div class="experience_content_top" >
    {{#layout-push direction="col" classNames="experience_content"}}
    {{#layout-push direction="row" split=true classNames="experience_header text-center"}}
        <span class="experience_title">体验开放</span>
        <span>
            {{#link-to 'edit.experience' 'experience/push' classNames='experience_creat_btn'}}+ 创建体验{{/link-to}}
        </span>
    {{/layout-push}}
    {{!-- <span class="stud_remind">温馨提示：成功添加的预约课程将在小程序和APP上显示。</span> --}}
    {{#layout-push direction="row" wrap=true classNames="card-wrap"}}
        {{#each model.acts as |item|}}
            <div class="line_container_warp stud_card_container" >
                {{experience-card onExperienceCardClick=(action 'cardClicked') activity=item}}
            </div>
        {{/each}}
    {{/layout-push}}
{{/layout-push}}
</div>


{{outlet}}
