<div class="class_content_top" >
    {{#layout-push direction="col" mid=true}}
        <p class="not-found">404</p>
        <p class="not-found-des">PAGE NOT FOUND</p>
        {{#link-to 'inbox' classNames='course_add_btn'}}返回首页{{/link-to}}
    {{/layout-push}}
</div>
