<div class="stud_container">
	{{#layout-push direction="col" classNames="stud_content" }}
		{{#layout-push direction='row' split=true classNames="stud-title-flex"}}
			<p class="page_title">学生</p>
			{{!-- <span class="qr-code">
				{{#link-to 'edit.stud' 'stud/push' classNames='stud_add_btn'}}+ 添加学生{{/link-to}}
			</span> --}}
			{{#link-to 'edit.stud' 'stud/push' classNames='stud_add_btn'}}+ 添加学生{{/link-to}}
		{{/layout-push}}
		{{#layout-push direction="row" wrap=true classNames="card-wrap" }}
			{{#each bm_stud_service.studs as |item|}}
				<div class="line_container_warp stud_card_container">
					{{stud-card onStudCardClicked=(action 'cardClicked') stud=item}}
				</div>
			{{/each}}
		{{/layout-push}}
	{{/layout-push}}
</div>

{{outlet}}
