<div class="stud_container">
	{{#layout-push direction="col" classNames="stud_content" }}
		{{#layout-push direction='row' split=true classNames="stud-title-flex"}}
			<p class="page_title">学生管理</p>
			{{#link-to 'edit.stud' 'stud/push' classNames='stud_add_btn'}}+ 学生注册{{/link-to}}
		{{/layout-push}}
		{{#layout-push direction="col" classNames="stud-list-outer"}}
			{{#layout-push direction="row" classNames="stud-list-area" }}
				<table class='ib_table_head stud_list_table'>
					{{bmtable/bm-table-inner type="studsList" listData=model.studs action="cardClicked"}}
				</table>
			{{/layout-push}}
		{{/layout-push}}
	{{/layout-push}}
</div>

{{outlet}}
