<div>
    {{nav-top}}
    {{left-menu}}
</div>

<div class="tech_content_top" >
    {{#layout-push direction="col" classNames="tech_content"}}
        {{#layout-push direction="row"}}
            {{#link-to 'edit.tech' 'tech/push' classNames='tech_add_btn'}}+ 添加老师{{/link-to}}
        {{/layout-push}}

        {{#each model.techs as |item|}}
            <div class="line_container_warp tech_card_container" >
                {{tech-card onTechCardClicked=(action 'cardClicked') tech=item}}
            </div>
        {{/each}}
    {{/layout-push}}
</div>

{{outlet}}
