<div >
    {{nav-top}}
    {{left-menu}}
</div>

<div class="yard_content_top" >
    {{#layout-push direction="col" classNames="yard_content"}}
        {{#layout-push direction="row"}}
            <button class="yard_add_btn">+ 添加场地</button>
        {{/layout-push}}
    {{/layout-push}}
</div>

{{outlet}}