<div >
    {{nav-top}}
    {{left-menu}}
</div>

<div class="yard_content_top" >
    {{#layout-push direction="col" classNames="yard_content"}}
        {{#layout-push direction="row"}}
            {{#link-to 'edit.yard' 'yard/push' classNames='yard_add_btn'}}
                + 添加场地
            {{/link-to}}
        {{/layout-push}}
        {{#layout-push direction="row" wrap=true classNames="card-wrap"}}
            {{#each model.yards as |item|}}
                <div class="line_container_warp yard_card_container" >
                    {{yard-card onYardCardClicked=(action 'cardClicked') yard=item}}
                </div>
            {{/each}}
        {{/layout-push}}

    {{/layout-push}}
</div>

{{outlet}}
