.detail-address {
    .add-title {
        font-family: Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #172B4D;
        margin-bottom: 16px;
    }
    .detail-address-select {
        margin-bottom: 16px;

        .address-select {
            margin-right: 8px;

            background: url(https://bm-web.oss-cn-beijing.aliyuncs.com/chevron_down_normal%402x.png) no-repeat right center transparent;
            border: 1px solid transparent;
            border-radius: 4px;
            background-size: 24px;
            width: 160px !important; 
            padding-left: 16px;
            padding-right: 32px;
            background-color: #FAFBFC;
            font-family: Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #253858;
            outline: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 32px;
            line-height: 14px;
        }
    }
    .add-sub {
        font-family: Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #172B4D;
        margin-bottom: 16px;

        & + div {
            .pre-input {
                display: none;
            }
        }
    }
}