.bm-dynamic-input {
    .dynamic-input-edit {
        .pre-input {
            display: none;
        }
        .input-group-outer {
            margin-bottom: 24px;

            div.input-group {
                input[type=text].edit_text_field {
                    margin-top: 0;
                    margin-bottom: 4px;
                }
            }
        }

        .edit_input_remove {
            width: 16px;
            height: 16px;
            margin-top: 8px;
        }
    }
    .add-other-btn {
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #42526E;
        width: 100px;
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
        }
    }
}